/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 */
/**
 * 格栅系统
 *
 * 根据 Taobao 栅格系统规范制定
 *
 * @change
 * 2008-09-19
 *      初始化版本，使用“浮动定位布局”
 *
 * @author  i.feelinglucky@gmail.com
 * @since   2008-09-19
 * @link    http://www.gracecode.com/
 * @version $Id$
 */

.section {
    clear:both;
    overflow:hidden;
    position:relative;
    width:100%;
}

.rows {
    float:left;
    position:relative;
    width:100%;
    left:100%;
}

.rows:after {
    content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}



/**
 * 目前制定的是 950px 宽度
 */
.section-950 {
    width: 950px;
    margin: 0px auto;
}

.body-950 .container {
    left: 950px;
}

.column-100, .column-50, .column-70, .column-30 {
    float:left;
    overflow:hidden;
    position:relative;
    width: 100%;
    left: -100%;
}

.column-50 {
    width: 50%;
}

.column-100 {
    width: 100%;
}

.column-30 {
    width: 30%;
}

.column-70 {
    width: 70%;
}
