<div class="column column-260">
    <h4 class="section-title">操作维修<a href="#"><span>更多</span></a></h4>
    <div style="position: relative; top: -5px; height: 335px; *height: 331px;">
        <div class="section-left-container training-review">
            <h4><a href="#">现成的需求，就是很多从 Editplus 转</a></h4>
            <p class="thumb"><img src="sample.png" width="75" height="75" /></p>
            <p class="desption">这里有个现就是很多Editplus 转过，想让 Vim 有从文件的功能。那么，这篇文章你们想要的。<a href="#">[详细]</a> </p>
        </div>
        <div class="clear"></div>
        <div class="section-left-container">
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="section-left-container">
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630">
    <div class="column-two" style="height: 362px; *height: 358px;">
        <div class="thumb-list-1">
            <h3>推荐讲座<a href="#"><span>更多</span></a></h3>
            <h4 class="training-notice"><span><a href="#">如需要本人亲自动手，可酌情考虑先支付本人医保以及半年工资</a></span></h4>
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
        <div class="thumb-list-1">
            <h3>推荐讲座<a href="#"><span>更多</span></a></h3>
            <h4 class="training-notice"><span><a href="#">如需要本人亲自动手，可酌情考虑先支付本人医保以及半年工资</a></span></h4>
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
