<div class="column column-260">
    <div style="border: 1px solid rgb(164, 202, 239); width: 258px;" class="column column-260">
        <h4 class="section-title">企业新闻<a href="#"><span>更多</span></a></h4>
        <div class="normal-box">
            <div class="thumb-desption-75">
                <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                <div class="desp">
                    <h4><a target="_blank" href="#">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
            <ul class="list-items list-items-v3 list-items-v3-back" style="margin-top: 0px;">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>

                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630" style="width: 655px;">
    <div class="column-two column-two-offer" style="">
        <div class="thumb-list-1">
            <h4 class="tab-view"><span class="title">按产品分类浏览</span><a class="more" href="#"><span>更多</span></a></h3>
            <dl class="category-broswer">
                <?php for($i = 0; $i < 3; $i++) { ?>
                <dt><a href="#">按产品分类浏览</a></dt>
                <dd>
                <a href="#"><span>按产品分</span></a>
                <a href="#"><span>按产品分</span></a>
                <a href="#"><span>按产品分</span></a>
                <a href="#"><span>按产品分</span></a>
                <a href="#"><span>按产</span></a>
                <a href="#"><span>按产浏览</span></a>
                <a href="#"><span>按产览</span></a>
                <a href="#"><span>按产</span></a>
                <a href="#"><span>按产浏览</span></a>
                <a href="#"><span>按产</span></a>
                <a href="#"><span>按产类浏览</span></a>
                <a href="#"><span>按产</span></a>
                </dd>
                <?php } ?>
            </dl>
        </div>
        <div class="thumb-list-1">
            <h4 class="tab-view"><span class="title">按地区浏览</span><a class="more" href="#"><span>更多</span></a></h3>
            <ul class="area-list" style="padding-top: 15px;">
                <?php for($i = 0; $i < 32; $i++) { ?>
                <li><a href="#"><span>浙江</span></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
</div>
