<div class="column column-260" style="width:258px;">
    <h4 class="section-title">企业家风采<a href="#"><span>更多</span></a></h4>
    <div class="normal-box">
        <div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
        </div>
        <div class="more-persion">
            <ul class="thumb">
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
            </ul>
            <ul class="more-persion-link">
                <?php for($i = 0; $i < 8; $i++) { ?>
                <li><a href="#"><span>赵明城</span></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <h4 class="section-title">企业家风采<a href="#"><span>更多</span></a></h4>
    <div class="normal-box">
        <div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
        </div>
        <div class="more-persion">
            <ul class="thumb">
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
            </ul>
            <ul class="more-persion-link">
                <?php for($i = 0; $i < 8; $i++) { ?>
                <li><a href="#"><span>赵明城</span></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630">
    <?php for($i = 0; $i < 2; $i++) { ?>
    <div class="column-two column-two-offer" style="width:655px;">
        <div class="thumb-list-1" style="height: 312px;">
            <h3>畅销图书<a href="#"><span>更多</span></a></h3>
            <div class="normal-box">
                <div class="thumb-desption-75" style="margin-left: 15px;">
                    <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
            </div>
            <ul class="list-items list-item-big">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
        <div class="thumb-list-1">
            <h3>推荐期刊<a href="#"><span>更多</span></a></h3>
            <div class="normal-box">
                <div class="thumb-desption-75" style="margin-left: 15px;">
                    <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
            </div>
            <ul class="list-items list-item-big">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
    </div>
    <?php } ?>
</div>
