<div class="footer">
    <div class="footer-links">
        <ul>
            <?php for($i = 0; $i < 10; $i++) { ?>
            <li><a href="#">我是连接</a></li>
            <?php } ?>
        </ul>
    </div>
    <div class="footer-copyright">
        <a href="#">中国化工仪器网</a>
        Copyright 2003-2008 chem17.com,all rights reserved
        <br/>
        广告咨询:0571-87858616,87858619;客户服务:0571-87858618,展会合作:0571-87858617;采购咨询:0571-87756389,87756390;
        <br/>
        传真:0571-87756374,87169507,87756393;邮箱:ask%chem17.net(请将%改成@) 
    </div>
</div>
