<div class="section section-style-1 section-style-3" style="height: 740px;">
    <div class="section-left">
        <h4 class="section-title">最新企业<a href="#">| 更多</a></h4>
        <div class="section-left-container section-left-container2" style="height: 710px;">
            <ul class="list-items list-items-style2">
                <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
            </ul>
            <div class="active-group">
                <h4>活跃度排行</h4>
                <ul class="list-items">
                    <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                </ul>
            </div>

            <div class="blue-items yellow-items">
                <h4>技术中心<a href="#"><span>更多</span></a></h4>
                <div class="thumb-desption-75">
                    <div class="thumb"><img height="75" width="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪的问题，注意的问题...<a href="#">[详细]</a></p>
                    </div>
                </div>
                <ul class="list-items">
                    <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                </ul>
            </div>
            <div class="blue-items yellow-items">
                <h4>维修手册<a href="#"><span>更多</span></a></h4>
                <div class="thumb-desption-75">
                    <div class="thumb"><img height="75" width="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
                <ul class="list-items">
                    <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-right style-right-v2 style-right-v3" style="height: 740px;">
        <div style="" class="thumb-list-1">
            <h3>宣传样本<a href="#"><span>更多</span></a></h3>
            <div class="small-section two-thumbs">
                <div class="small-section-small-list-thumb">
                    <div class="two-thumbs">
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                    </div>
                    <div class="two-thumbs">
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                    </div>
                </div>

                <ul style="margin-right: 10px;" class="list-items list-item-big">
                    <li>方法 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li>方法 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                    <li>方法 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                </ul>
                <ul class="list-items list-item-big">
                    <li>标准 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li>标准 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                    <li>标准 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                </ul>
            </div>
        </div>
        <div class="column-2">
            <div style="" class="thumb-list-1">
                <h3>整数奖状<a href="#"><span>更多</span></a></h3>
                <div class="small-section two-thumbs">
                    <div class="two-thumbs">
                        <p><img height="100" width="110" src="sample.png"/></p>
                        <p><img height="100" width="110" src="sample.png"/></p>
                    </div>
                    <ul style="margin-right: 10px;" class="list-items list-item-big">
                        <li>方法 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                        <li>方法 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                        <li>方法 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                        <li>方法 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    </ul>
                </div>
            </div>

            <div style="" class="thumb-list-1">
                <h3>报价目录<a href="#"><span>更多</span></a></h3>
                <div class="small-section two-thumbs">
                    <div class="two-thumbs">
                        <p><img height="100" width="110" src="sample.png"/></p>
                        <p><img height="100" width="110" src="sample.png"/></p>
                    </div>
                    <ul class="list-items list-item-big">
                        <li>方法 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                        <li>方法 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                        <li>方法 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                        <li>方法 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
