<div class="category">
    <h4>My Friends</h4>
    <ul>
        <li><a href="#"><span class="date">10.01</span> Real-World Scala: Introduction </a></li>
        <li><a href="#"><span class="date">06.30</span> The Book Is Out </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
        <li><a href="#"><span class="date">02.06</span> AOP-style Mixin Composition Stacks in Scala </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
        <li><a href="#"><span class="date">10.01</span> Real-World Scala: Introduction </a></li>
        <li><a href="#"><span class="date">06.30</span> The Book Is Out </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
        <li><a href="#"><span class="date">02.06</span> AOP-style Mixin Composition Stacks in Scala </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
    </ul>
</div>

<div class="category">
    <h4>Comments</h4>
    <ul>
        <li><a href="#"><span class="date">10.01</span> Real-World Scala: Introduction </a></li>
        <li><a href="#"><span class="date">06.30</span> The Book Is Out </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
        <li><a href="#"><span class="date">02.06</span> AOP-style Mixin Composition Stacks in Scala </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
        <li><a href="#"><span class="date">10.01</span> Real-World Scala: Introduction </a></li>
        <li><a href="#"><span class="date">06.30</span> The Book Is Out </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
        <li><a href="#"><span class="date">02.06</span> AOP-style Mixin Composition Stacks in Scala </a></li>
        <li><a href="#"><span class="date">06.16</span> Erlang-style Supervisor Module for Scala Actors </a></li>
    </ul>
</div>
