/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 */
/**
 * 格栅系统
 *
 * @author  i.feelinglucky@gmail.com
 * @link    http://www.gracecode.com/
 * @version $Id$
 */

/**
 * 外层“棋盘”初始宽度
 */
.chess {
    overflow:hidden;
    clear:both;
    position:relative;
    width:100%;
}

.chess-950 {
    width: 950px;
    margin: 0px auto;
}

.board {
    float:left;
    position:relative;
    width:100%;
    left:100%;
    background: blue;
}

.chess-950 .board {
    left: 950px;
}


/**
 * 清除浮动元素
 */
.board:after {
    content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/**
 * 每个栅格的基本样式
 *
 */
.grid-01, .grid-02, .grid-03, .grid-04, .grid-05,
.grid-06, .grid-07, .grid-08, .grid-09, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15,
.grid-16, .grid-17, .grid-18, .grid-19, .grid-20,
.grid-21, .grid-22, .grid-23, .grid-24 {
    float:left;
    overflow:hidden;
    position:relative;
    width: 100%;
}

.chess-950 .grid {
    margin-left: -950px;
}

/**
 * 将页面分成了 24 份
 */
.chess-950 .grid-01 {
    width: 30px;
}

.chess-950 .grid-02 {
    width: 70px;
}

.chess-950 .grid-03 {
    width: 110px;
}

.chess-950 .grid-04 {
    width: 150px;
}

.chess-950 .grid-05 {
    width: 190px;
}

.chess-950 .grid-06 {
    width: 230px;
}

.chess-950 .grid-07 {
    width: 270px;
}

.chess-950 .grid-08 {
    width: 310px;
}

.chess-950 .grid-09 {
    width: 350px;
}

.chess-950 .grid-10 {
    width: 390px;
}

.chess-950 .grid-11 {
    width: 430px;
}

.chess-950 .grid-12 {
    width: 470px;
}

.chess-950 .grid-13 {
    width: 510px;
}

.chess-950 .grid-14 {
    width: 550px;
}

.chess-950 .grid-15 {
    width: 590px;
}

.chess-950 .grid-16 {
    width: 630px;
}

.chess-950 .grid-17 {
    width: 670px;
}

.chess-950 .grid-18 {
    width: 710px;
}

.chess-950 .grid-19 {
    width: 750px;
}

.chess-950 .grid-20 {
    width: 790px;
}

.chess-950 .grid-21 {
    width: 830px;
}

.chess-950 .grid-22 {
    width: 870px;
}

.chess-950 .grid-23 {
    width: 910px;
}

.chess-950 .grid-24 {
    width: 950px;
}

/**
 * 设置偏移位置
 */
.chess-950 .start-01 {
    margin-left: -950px;
}

.chess-950 .start-02 {
    margin-left: -910px;
}

.chess-950 .start-03 {
    margin-left: -870px;
}

.chess-950 .start-04 {
    margin-left: -830px;
}

.chess-950 .start-05 {
    margin-left: -790px;
}

.chess-950 .start-06 {
    margin-left: -750px;
}

.chess-950 .start-07 {
    margin-left: -710px;
}

.chess-950 .start-08 {
    margin-left: -670px;
}

.chess-950 .start-09 {
    margin-left: -630px;
}

.chess-950 .start-10 {
    margin-left: -590px;
}

.chess-950 .start-11 {
    margin-left: -550px;
}

.chess-950 .start-12 {
    margin-left: -510px;
}

.chess-950 .start-13 {
    margin-left: -470px;
}

.chess-950 .start-14 {
    margin-left: -430px;
}

.chess-950 .start-15 {
    margin-left: -390px;
}

.chess-950 .start-16 {
    margin-left: -350px;
}

.chess-950 .start-17 {
    margin-left: -310px;
}
.chess-950 .start-18 {
    margin-left: -270px;
}
.chess-950 .start-19 {
    margin-left: -230px;
}

.chess-950 .start-20 {
    margin-left: -190px;
}

.chess-950 .start-21 {
    margin-left: -150px;
}

.chess-950 .start-22 {
    margin-left: -110px;
}

.chess-950 .start-23 {
    margin-left: -70px;
}

.chess-950 .start-24 {
    margin-left: -30px;
}
