/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 */
/**
 * Widget.source.css
 *
 * 常用 CSS 控件集合
 *
 * @author  i.feelinglucky@gmail.com
 * @link    http://www.gracecode.com/
 * @version $Id: reset.source.css 96 2008-10-12 16:49:11Z i.feelinglucky $
 */

/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

/**
 * 清除浮动
 *
 * @see http://www.positioniseverything.net/easyclearing.html
 */
.clear-float {
    *zoom: 1; /* triggers hasLayout for IE/Win */
    *display: block; /* resets display for IE/Win */
}

.clear-float:after {
    content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.debug {
  background: rgba(255, 0, 0, 0.5);
}

/**
 * 实现图片圆角效果
 *
 * @see http://itaobao.taobao.com/
 */
.spirity-box {
    font-size: 12px;
    border: 1px solid #F5D9BB;
    position: relative;
}

/**
 * 右上方的“更多"
 */
.spirity-box .more {
    top: 0px; right: 0px;
    position: absolute;
    display: block;
}

.spirity-box .more li {
    float: left;
}

/**
 * 标题共有样式
 */
.spirity-box .more, .spirity-box .box-head {
    /*
    line-height: 30px;
    font-size: 12px;
    */
    overflow: hidden;
}

/**
 * 标题样式（通常为大背景）
 */
.spirity-box .box-head {

}

.spirity-box .box-head .content {
    padding-left: 10px;
    display: block;
}

.spirity-box .box-body {
    padding: 5px 10px;
}

/**
 * 针对 Exploer6 的 Bug，所以只能再套层结构
 */
.spirity-box .box-foot {
    height: 4px;
    clear: both;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.spirity-box .c, .spirity-box .c span {
    background: url(../sprites/itaobao.png) no-repeat;
}

.spirity-box .c, .spirity-box .c span {
    display:block;
    height:4px;
    position:absolute;
    font-size: 0px;
}

.spirity-box .c-t, .spirity-box .c-b {
    width: 100%;
    left: -1px;
}

.spirity-box .c-t span, .spirity-box .c-b span {
    overflow: hidden;
    width: 4px;
    font-size: 0px;
    right: -2px;
}

.spirity-box .c-t {
    background-position: -5px -162px;
    top: -1px;
}

.spirity-box .c-t span {
    background-position: 0px -162px;
}

.spirity-box .c-b {
    background-position: -5px -166px;
    bottom: -1px;
}

.spirity-box .c-b span {
    background-position: 0px -166px;
}

