@import url('header.source.css');
@import url('footer.source.css');

.clear {
    height: 2px;
    clear: both;
    font-size: 0px;
}

.container {
    width: 916px;
    margin: 0px auto;
    min-height: 300px;
}

.section {
    border: 1px solid #d3d3d1;
    zoom: 1;
    clear: both;
    overflow: hidden;
}

.section .section-title {
    height: 30px;
    opacity: .8;
    padding-left: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: bold;
    overflow: hidden;
}

.section .section-title a:link, .section .section-title a:visited {
    font-weight: normal;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 5px;
}

.section .section-left {
    min-height: 300px;
    float: left;
    background: #fff;
    position: relative;
    margin-top: 30px;
}

.section .section-left .section-title {
    position: absolute;
    width: 240px;
    top: -30px;
    left: 0px;
}

.section .section-right {
    min-height: 300px;
    float: left;
}

.section-style-1 {
    background: url(../images/006.png) no-repeat top left;
}

.section-style-1 .section-left {
    width: 260px;
}

.section-style-1 .section-right {
    zoom: 1;
    width: 653px;
    border-left: 1px solid #d3d3d1;
    border-bottom: 1px solid #d3d3d1;
    height: 515px;
}

.section-left-container {
    width: 245px;
    border: 1px solid #B8CEE5;
    border-top: 0px;
    margin: 5px;
    margin-top: 0px;
    overflow: hidden;
    height: 514px;
}

.section-links-guid {
    background: #FAFAFA;
    margin: 2px;
    padding: 15px 10px;
}

.section-links-guid .banner {
    text-align: center;
    margin-bottom: 15px;
}

.section-links-guid .list-items {
    margin-left: 8px;
}

.section-hot-manual {
    background: url(../images/011.png) no-repeat left top;
    width: 236px;
    height: 152px;
    margin: 10px auto;
    position: relative;
}

.section-hot-manual h4 {
    width: 150px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: 40px;
    font-weight: normal;
    color: #fff;
}

.section-hot-manual .list-items {
    position: absolute;
    left: 20px;
    top: 32px;
}

.section-links-guid .list-items a:link, .section-links-guid .list-items a:visited ,
.section-hot-manual .list-items a:link, .section-hot-manual .list-items a:visited {
    text-decoration: underline;
}

.section-hot-manual .list-items li {
    margin-bottom: 5px;
}

.section-right {
    background: #fff;
    margin-top: 30px;
    /*
    overflow: hidden;
     */
zoom: 1;
}

.section-right .column {
    zoom: 1;
    float: left;
    width: 320px;
}

.section-right .column-left {
    border-right: 1px solid #d3d3d1;
    width: 321px;
}

.section-right .column-right {
    width: 317px;
}

.list-items {

}

.list-items li {
    line-height: 18px;
    background: url(../images/010.png) no-repeat scroll 2px 7px;;
    padding-left: 10px;
}

.section-right .thumb-list-1 {
    margin-top: -30px;
    *margin-bottom: 15px;
}

.thumb-list-1 {
    position: relative;
    padding: 10px;
}

.blue-items h4, .thumb-list-1 h3 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
    color: #055296;
    background: url(../images/007.png) no-repeat scroll 5px 5px;
    position: relative;
    border-bottom: 1px solid #1A68B3;
    padding-bottom: 5px;
    margin: 15px 0px 5px 0px;
}

.blue-items h4 a, .thumb-list-1 h3 a {
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: normal;
}

.blue-items h4 span, .thumb-list-1 h3 span {
    border-left: 1px solid #1A68B3;
    padding: 0px 5px;
}


.thumb-desption-75, .thumb-list-1 .desption {
    height: 80px;
    overflow: hidden;
    padding: 5px 0px;
}

.thumb-desption-75 .thumb, .thumb-list-1 .desption .thumb {
    float: left;
    height: 75px;
    line-height: 75px;
    width: 75px;
    border: 1px solid #DCDDD7;
    padding: 2px;
    text-align: center;
}

.thumb-desption-75 .desp, .thumb-list-1 .desption .desp {
    float: left;
    width: 195px;
    height: 80px;
    margin-left: 10px;
    background: url(../images/009.png) no-repeat scroll 0px 2px;
    overflow: hidden;
    padding: 5px;
}

.thumb-desption-75 .desp h4, .thumb-list-1 .desption .desp h4 {
    border: none;
    font-size: 14px;
    font-weight: normal;
    background: none;
    zoom:1;
}

.thumb-desption-75 .desp h4 {
    padding: 0px;
    margin: 0px;
    text-indent: 0px;
}

.thumb-desption-75 .desp h4 a, .thumb-list-1 .desption .desp h4 a {
    color: #1A68B3;
    font-size: 14px;
    text-decoration: underline;
}
.thumb-desption-75 .desp a, .thumb-list-1 .desption .desp p a {
    color: #EA491B;
    text-decoration: underline;
}

.thumb-desption-75 .desp p, .thumb-list-1 .desption .desp p {
    font-size: 12px;
    line-height:16px;
    margin-top:2px;
    width:185px;
    height: 48px;
    overflow: hidden;
    text-align: justify;
}

.thumb-list-1 ul {
    margin-top: 5px;
    font-size: 14px;
}

.thumb-list-1 li {
    font-size: 14px;
}

.thumb-list-1 ul a {
    padding-left: .5em;
    font-size: 14px;
}

.section-style-2 {
    overflow: hidden;
    clear: both;
}

.section-style-2 .section-right, .section-style-2 .section-left-container {
    height: 530px;
}

.section-style-2 .section-left, .section-style-2 .section-right {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-style-2 .section-right {
    zoom: 1;
    position: relative;
    border-top: 1px solid #DCDDD7;
    border-bottom: 0px;
}

.section-style-2 .section-left .section-left-container {
    margin-bottom: 0px;
    border: 1px solid #B8CEE5;
    border-bottom: 0px;
}

.blue-items {
    margin-bottom: 10px;
}

.blue-items h4 {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 25px;
    margin: 0px;
    background-position: 5px 10px;
    background-color: #ECF4FF;
    border-bottom-color: #A4CAEF;
}

.blue-items .list-items {
    margin: 10px;
}

.blue-items .list-items a {
    text-decoration: underline;
}

.blue-items .list-items li {
    margin-bottom: 5px;
}

.two-thumbs {
    overflow: hidden;
    zoom: 1;
}

.two-thumbs p, .two-thumbs ul {
    float: left;
    width: 49%;
    text-align: center;
}


.style-right-v2 {
    background: url(../images/012.png) repeat-x top left;
    overflow: hidden;
    zoom: 1;
}

.style-right-v2 .thumb-list-1 {
    margin: 0px;
    margin-top: -15px;
    *margin-top: 0px;
    zoom: 1;
}

.thumb-list-1 .desption-v2 {
    padding: 15px;
    float: left;
    width: 135px;
    border-right: 1px dashed #d4d4d4;
}

.thumb-list-1 .desption-v2 .thumb {
    border: 1px solid #d4d4d4;
    padding: 1px;
    margin: 0px auto;
    height: 96px;
    width: 96px;
    text-align: center;
}

.thumb-list-1 .desption-v2 .desp h4 {
    font-size: 12px;
    margin: 5px auto;
    text-align: center;
    font-weight: normal;
}

.thumb-list-1 .desption-v2 .desp h4 a ,
.thumb-list-1 .desption-v2 .desp h5 {
    font-size: 12px;
    text-decoration: underline;
    color: #035193;
}

.thumb-list-1 .desption-v2 .desp h5 {
    text-decoration: none;
    font-weight: bold;
}

.thumb-list-1 .desption-v2 .desp div {
    background: #ECEAEB;
    border:  1px solid #BBDDFF;
    overflow: hidden;
    zoom: 1;
    text-align: justify;
    padding: 2px;
}

.thumb-list-1 .desption-v2 .desp ul {
    zoom: 1;
}

.thumb-list-1 .desption-v2 .desp li {
    float: left;
}

.thumb-list-1 .desption-v2 .desp li, .thumb-list-1 .desption-v2 .desp a {
    font-size: 12px;
}

.style-right-v2 .list-item-big {
    width: 450px;
}

.list-item-big {
    margin-left: 15px;
    float: left;
}

.list-item-big li {
    width: 440px;
    position: relative;
    margin-bottom: 6px;
}

.list-item-big li a {
    text-decoration: underline;
}

.list-item-big .date {
    position: absolute;
    right: 0px;
}

.small-section {
    margin-top: 5px;
    overflow: hidden;
    clear: both;
    zoom: 1;
}

.thumb-list-1 .two-thumbs ul {
    text-align: left;
    width: 310px;
    margin: 0px;
}

.thumb-list-1 .two-thumbs li {
    width: 95%;
}

.section-left-container .thumb-desption-75 {
    padding-left: 5px;
    padding-top: 10px;
}

.section-left-container .thumb-desption-75 .desp {
    width: 135px;
    background: #d4d4d4;
    height: 70px;
}

.section-left-container .thumb-desption-75 .desp p {
    width: 135px;
}

.list-items-style2 li {
    background-image: url(../images/013.png);
    padding-left: 15px;
}


.section-left-container2 li a {
    text-decoration: underline;
}

.section-left-container2 .list-items-style2 {
    margin: 10px 10px 10px 10px;
}

.active-group {
    position: relative;
    width: 240px;
    height: 86px;
    background: url(../images/015.png) no-repeat top left;
    margin: 10px 2px;
}

.active-group h4 {
    display: none;
}

.active-group .list-items {
    padding-top: 8px;
    padding-left: 35px;
}


.section-style-3 {
    background-image: url(../images/016.png);
}

.section-left-container2 {
    border-color: #f9c66b;
}

.yellow-items h4 {
    border-color: #f9c66b;
    background-color: #fbf6f0;
    color: #b87700;
    zoom: 1;
    zoom: 1;
}

.yellow-items h4 a {
    color: #b87700;
}

.yellow-items h4 span {
    border-color: #f9c66b;
}

.style-right-v3 {
    position: relative;
    top: -30px;
}

.small-section-small-list-thumb {
    overflow: hidden;
    zoom: 1;
}

.small-section-small-list-thumb .two-thumbs {
    float: left;
    width: 49%;
    padding: 10px 0px;
    zoom: 1;
}

.two-thumbs .sample-thumb {
    float: left;
    margin: 3px;
}

.sample-thumb {
    height: 160px;
    width: 144px;
    background: url(../images/017.png) no-repeat top left;
    position: relative;
}

.sample-thumb img {
    border: 1px solid #eaeaea;
    margin: 5px;
}

.sample-thumb p {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 5px;
    bottom: 5px;
    text-align: center;
}

.column-2 {
    overflow: hidden;
    zoom: 1;
    margin-top: -10px;
}

.column-2 .thumb-list-1 {
    float: left;
    width: 300px;
    zoom: 1;
    overflow: hidden;
}

.column-2 .thumb-list-1 .two-thumbs {
    padding: 5px 0px 5px 0px;;
}

.column-2 .thumb-list-1 .two-thumbs img {
    padding: 5px;
    border: 1px solid #d4d4d4;
}

.column-2 .list-item-big {
    clear: both;
    zoom: 1;
    float: left;
    margin: 0px;
}

.banner-4 {
    zoom: 1;
    overflow: hidden;
    clear: both;
    margin: 5px auto;
}

.banner-4 a {
    display: block;
}

.banner-4 .item {
    width: 25%;
    float: left;
    text-align: center;
}

.banner-4 .item img {
    display: block;
    margin: 0px auto;
}

.banner-4 .item a:hover {
    text-decoration: none;
}
