@import url('headermt.source.css');
@import url('footermt.source.css');
@import url('common.source.css');

body {
    font-family: SimSun, Tahoma，Arial； 
}

.container-mingcheng .section {
    margin-bottom: 2px;
    clear: both;
    overflow: hidden;
    zoom: 1;
    position: relative;
}

.container-mingcheng .section .column {
    float: left;
    min-height: 100px;
    overflow: hidden;
}

.container-mingcheng .section .column-260 {
    width: 260px;
}

.container-mingcheng .section .column-630 {
    width: 653px;
}

.column .section-title {
    background: transparent url(../images/006.png) no-repeat scroll left top;
}

.column .section-title a:link, .column .section-title a:visited {
    color: #fff;
}

.column .section-title span {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 5px;
}

.column .section-left-container {
    height: auto;
    width: 250px;
    min-height: 10px;
    border: 1px solid #B8CEE5;
    background: #fff;
    zoom: 1;
          *padding-bottom: 5px;
}

.column .section-left-container2 {
    border: 1px solid #F9C66B;
}

.training-review {
}

.training-review h4 {
    font-size: 12px;
    background: #d4d4d4;
    margin-top: 5px;
    text-align: center;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    font-weight: bold;
    padding: 3px 0px;
    color:#055296;
    border: none;
}

.training-review h4 a:link, .training-review h4 a:visited {
    text-decoration: underline;
    color:#055296;
    position: static;
    font-weight: bold;
}

.training-review .thumb {
    float: left;
    margin:5px 5px;
}

.training-review .thumb img {
    border: 1px solid #d4d4d4;
    padding: 1px;
}

.training-review .desption {
    float: left;
    text-indent: 2em;
    width: 150px;
    margin: 5px 2px;
    text-align: justify;
}

.training-review .desption a{
    color: #EA491B;
    text-decoration: underline;
}

.desption-list {
    list-style: none;
    clear: both;
}

.desption-list li {
    color: #EA491B;
}

.desption-list a {
    color: #333;
    padding-left:.5em;
    text-decoration: underline;
}

.section-left-container .desption-list {
    margin: 10px;
            *margin-bottom: 0px;
}

.section-left-container .desption-list li {
    margin-bottom: 3px;
}

.column-630 .thumb-list-1 {

}

.column-630 .thumb-list-1 h3 {
    margin-top: 0px;
}

.training-notice {
    border: 1px dashed #d4d4d4;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
    padding: 1px;
    zoom: 1;
}

.training-notice span {
    padding: 5px;
    display: block;
    background: #EDF6FF;
    position:relative;
    zoom: 1;
}

.training-notice a:link, .training-notice a:visited {
    font-size: 14px;
    color: #055296;
    text-decoration: underline;
}

.column-630 .column-two {
    background:transparent url(../images/012.png) repeat-x scroll left top;
    clear: both;
    zoom: 1;
    overflow: hidden;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.column-630 .column-two .thumb-list-1 {
    /*
    margin-top: 15px;
     */
width: 45%;
float: left;
}

.two-columns-100 {
    overflow: hidden;
    zoom: 1;
}

.two-columns-100 p {
    float: left;
    width: 49%;
    text-align: center;
}

.two-columns-100 p img {
    display: block;
    margin: 5px auto;
}

.two-columns-100 p a:link, .two-columns-100 p a:visited {
    display: block;
    color: #055296;
    text-decoration: underline;
}

.thumb-list-1 .two-columns-100 {
    margin-bottom: 15px;
    clear: both;
}

.table-training-list {
    width: 100%;
}

.table-training-list th, .table-training-list td {
    color: #555;
    padding: 3px 0px;
             *padding: 2px 0px;
}

.table-training-list th {
    text-align: center;
    padding: 0px 2px;
}

.table-training-list th span {
    border: 1px solid #d4d4d4;
    padding: 2px;
    background: whitesmoke;
    border-top: 0px;
    display: block;
}

.table-training-list-v2 th span {
    border: 0px;
    background: #ccbfac;
    color: #fff;
}

.table-training-list td {
    padding-left: 1em;
}

.table-training-list td a:link, .table-training-list td a:visited {
    font-size: 14px;
    text-decoration: underline;
}

.column-260 .blue-items {
    margin-bottom: 15px;
}

.column .section-title-red {
    background-image: url(../images/016.png);
}

.flash-guid {
    padding: 10px 10px 0px 10px;
}

.flash-guid a:link, .flash-guid a:visited {
    color: #055296;
    text-decoration: underline;
    font-weight: bold;
}

.flash-guid div, .flash-guid p {
    margin: 0px auto;
    text-align: center;
}

.flash-guid .flash {
    margin-bottom: 5px;
}

.training-taglist {
    overflow: hidden;
    zoom: 1;
}

.training-taglist li {
    margin: 0px 10px;
    float: left;
    background: url(../images/018.png) no-repeat scroll 0px 6px;
    padding-left: 6px;
    margin-bottom: 2px;
}

.section-left-container .training-taglist {
    margin-top: 10px;
}

.section-left-container .training-taglist li {
    padding-left: 8px;
}

.section-left-container .training-taglist a {
    font-size: 14px;
}

.seller-item-list {
    overflow: hidden;
    zoom: 1;
}

.seller-item-list em {
    color: #EA491B;
    font-style: normal;
}

.seller-item-list li {
    float: left;
    width: 123px;
    font-size: 12px;
    text-align: center;
}

.seller-item-list li p, .seller-item-list li div {
    text-indent: 0px;
    text-align: center;
}

.seller-item-list div a:link, .seller-item-list div a:visited {
    text-decoration: underline;
    color: #055296;
}

.seller-item-list a:link, .seller-item-list a:visited {
    font-size: 12px;
}

.column-630 .seller-item-list  {
    clear: both;
    margin: 15px auto;
}

.column-630 .click-ranking {
    clear: both;
    margin: 0px auto;
    padding-left: 10px;
}

.click-ranking {
    overflow: hidden;
    zoom: 1;
}

.click-ranking h4 , .click-ranking .ranking {
    float: left;
}

.click-ranking h4 {
    height: 71px;
    width: 20px;
    background: url(../images/019.png) no-repeat top left;
    overflow: hidden;
    text-indent: -999em;
    margin-right: 5px;
}

.click-ranking .ranking {
    border: 1px solid #d4d4d4;
    width: 140px;
    height: 71px;
    margin-right: 2px;
}

.click-ranking .ranking ul {
    background: url(../images/020.png) no-repeat top left;
    margin: 2px auto;
    width: 124px;
    height: 66px;
    overflow: hidden;
}

.click-ranking .ranking li {
    width: 120px;
    height: 22px;
    line-height: 22px;
    background: url(../images/010.png) no-repeat scroll 0px 10px;
    overflow: hidden;
    margin-left: 5px;
}

.click-ranking .ranking a {
    font-size: 12px;
    color: #744825;
    text-decoration: underline;
}

.column-630 .column-2-390, .column-630 .column-2-260 {
    float: left;
    min-height: 100px;
}

.column-2-390 {
    width: 390px;
}

.column-2-260 {
    border: 1px solid #A4CAEF;
    width: 260px;
}

.normal-box {
    padding: 5px;
}

.normal-box .desption-list, .normal-box .two-columns-100 {
    margin: 0px 10px;
}

.normal-box .list-items li {
    margin-bottom: 4px;
}

/*
.section-v2 {
border: 0px;
border-bottom: 1px solid #d4d4d4;
}
 */

.column-2-390 .list-item-big {
    width: 380px;
    margin: 0px;
}

.column-2-390 .list-item-big li {
    /*
    width: 380px;
     */
width: auto;
zoom: 1;
}

.column-630 .thumb-list-1v2 h3 {
    position: relative;
    background: url(../images/025.png) no-repeat scroll 3px 3px;
    padding-left: 25px;
    border-bottom: 1px dotted #d4d4d4;
    color: #f60;
}

.column-630 .thumb-list-1v2 ul {
    margin-top: 10px;
}

.column-630 .thumb-list-1v2 li {
    margin-bottom: 2px;
}

.column-630 .thumb-list-1v2 li a:link, .column-630 .thumb-list-1v2 li a:visited {
    text-decoration: underline;
}

.column-630 .thumb-list-1v2 .date {
    _right: 15px;
}

.release {
    background: url(../images/024.png) no-repeat scroll 0px 0px;
    width:59px;
    height:18px;
    display: block;
    text-indent: -999em;
    overflow: hidden;
}

.column-630 .thumb-list-1v2 h3 .release {
    right: 50px;
}

.column-630 .click-ranking-v2 {
    margin-bottom: 10px;
}

.click-ranking-v2 {
    height: 80px;
}

.click-ranking-v2 h4 {
    background-image: url(../images/023.png);
    height: 80px;
}

.click-ranking-v2 .ranking {
    background: #ECF4FF;
    height: 77px;
    border: 1px solid #A4CAEF;
    padding: 0px;
    overflow: hidden;
    width: 345px;
    position: relative;
}

.click-ranking-v2 .ranking ul {
    position: absolute;
    background: none;
    margin: 0px;
    zoom: 1;
    width: 355px;
    height: 80px;
    top: -1px;
    left: -1px;
}

.click-ranking-v2 .ranking li {
    float: left;
    border-bottom: 1px solid #A4CAEF;
    border-right: 1px solid #A4CAEF;
    background: none;
    width: 86px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    height: 26px;
}

.click-ranking-v2 .ranking a:link, .click-ranking-v2 .ranking a:visited {
    background: none;
    display: block;
    padding: 2px 5px;
    color: #055296;
    text-decoration: underline;
}

.seller-rank-v2 {
    background: url(../images/021.png) no-repeat scroll 0px 3px;
    width: 299px;
    height: 249px;
    overflow: hidden;
}

.seller-rank-v2 li {
    background: none;
    padding-left: 25px;
    line-height: 25px;
}

.seller-rank-v2 li a:link , .seller-rank-v2 li a:visited {
    text-decoration: underline;
}

.section-left-container .seller-rank-v2 {
    margin: 10px;
}

.section-left-container {
    position: relative;
}

.section-left-container .relative-flow {
    margin: 0px auto;
    zoom: 1;
}

.relative-flow {
    width: 245px;
    height: 143px;
    overflow: hidden;
    position: relative;
    background: url(../images/022.png) no-repeat scroll 0px 0px;
}

.relative-flow h4 {
    display: none;
}

.relative-flow ol {
    width: 245px;
    height: 143px;
}

.relative-flow li {
    position: absolute;
    width: 80px;
    height: 30px;
    text-align: center;
    overflow: hidden;
}

.relative-flow a:link, .relative-flow a:visited {
    width: 80px;
    height: 30px;
    overflow: hidden;
    text-indent: -999em;
    line-height: 30px;
    display: block;
    color: #EA491B;
}

.relative-flow .step-1 {
    top: 41px;
    left: 4px;
}
.relative-flow .step-2 {
    top: 41px;
    left: 128px;
}
.relative-flow .step-3 {
    top: 88px;
    left: 4px;
}
.relative-flow .step-4 {
    top: 88px;
    left: 128px;
}

.list-items-v3 {

}

.list-items-v3 li {
    background: url(../images/002.gif) no-repeat scroll 3px 5px;
    padding-left: 15px;
}

.list-items-v3 li a:link, .list-items-v3 li a:visited {
    text-decoration: underline;
}

.normal-box .list-items-v3 {
    margin: 5px 10px;
}

.normal-box-left .list-items {
    margin: 10px;
}

.normal-box-left .list-items a:link, .normal-box-left .list-items a:visited {
    text-decoration: underline;
}

.column-630 .column-two-offer {
    background: #F5F8FD url(../images/030.png) repeat-x top left;
    overflow: hidden;
    border-top: 1px solid #A4CAEF;
    border-bottom: 0px;
}

.column-630 .column-two-offer .thumb-list-1 {
    overflow: hidden;
    width: 326px;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #A4CAEF;
}

.column-630 .column-two-offer .thumb-list-1 h3 {
    margin-top: 5px;
    border-bottom: 1px solid #A4CAEF;
}


.column-630 .column-two-offer .desption-list {
    margin: 10px 10px;
}

.column-630 .column-two-offer .desption-list li {
    margin-bottom: 5px;
    color: #555;
}

.column-260 .normal-box .list-items-v3-back li {
    background: transparent url(../images/010.png) no-repeat scroll 2px 7px;
}

.column-260 .normal-box .thumb-desption-75 {
    position: relative;
}

.column-260 .normal-box .thumb-desption-75 .desp {
    width: 140px;
    background: none;
}

.column-260 .normal-box .thumb-desption-75 .desp p,
.column-260 .normal-box .thumb-desption-75 .desp h4 {
    width: 130px;
}

.thumb-list-1 .category-broswer , .thumb-list-1 .area-list {
    margin: 0px 5px;
    border: 1px solid #A4CAEF;
    background: #fff;
    padding: 5px;
}

.category-broswer dt {
    zoom: 1;
    font-weight: bold;
    margin-bottom: .5em;
    padding-left: 1em;
    background: url(../images/018.png) no-repeat scroll 3px 6px;
}

.category-broswer dd {
    overflow: hidden;
    margin-bottom: 1em;
    margin-left: .5em;
}

.category-broswer dd a:link, .category-broswer dd a:visited {
    margin-left: -6px;
    border-left: 1px solid #d4d4d4;
    text-decoration: underline;
    padding: 0px 5px;
}

.area-list {
    overflow: hidden;
    zoom: 1;
}

.area-list li {
    float: left;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #d4d4d4;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 10px 10px;
}

.area-list li a:link, .area-list li a:visited {
    width: 60px;
    height: 20px;
    padding: 0px;
    display: block;
    text-decoration: underline;
}

.thumb-list-1 .tab-view {
    font-size: 14px;
    height: 35px;
    position: relative;
    zoom: 1;
    overflow: hidden;
}

.thumb-list-1 .tab-view .title {
    color: #055296;
    display: block;
    float: left;
    margin: 5px 5px 0px 5px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #d4d4d4;
}

.thumb-list-1 .tab-view .more {
    position: absolute;
    top: 8px;
    right: 5px;
}

.thumb-list-1 .tab-view .more span {
    font-weight: normal;
    border-left: 1px solid #000;
    padding-left: 5px;
}

.company-logo-list {
    overflow: hidden;
    zoom: 1;
}

.company-logo-list li {
    float: left;
    margin: 5px;
    width: 110px;
    text-align: center;
}

.company-logo-list li img {
    border: 1px solid #d4d4d4;
    display: block;
    margin: 0px auto;
}

.company-logo-list li span {
    display: block;
    padding: 2px 5px;
    text-align: center;
    background: #d4d4d4;
    margin: 3px auto;
}

.column-630 .company-logo-list {

}

.column-630 .company-logo-list li {
    width: 120px;
}

.tab-view-v2 {
    border-top: 1px solid #A4CAEF;
    border-bottom: 1px solid #A4CAEF;
}

.thumb-list-1 .tab-view-v2 .title {
    color: #f60;
    margin: 3px 5px 0px 0px;
}

.thumb-list-1 .company-logo-list {
    padding-top: 0px;
    padding-bottom: 5px;
    background: #fff;
    margin-top: 0px;
    padding: 10px;
}

.thumb-list-1 .company-logo-list li {
    width: 118px;
    padding-bottom: 10px;
}

.thumb-list-1 .company-logo-list span {
    margin-top: 15px;
}

.column-260 .thumb-desption-persion {
    width: 228px;
    margin: 5px auto;
}

.thumb-desption-persion {
    overflow: hidden;
    zoom: 1;
}

.thumb-desption-persion .thumb {
    width: 64px;
    height: 64px;
    padding: 1px;
}

.thumb-desption-persion .desp h4 a {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.column-260 .thumb-desption-persion {
    margin: 5px 10px;
    padding: 0px;
    height: 65px;
}

.more-persion {
    background: #ECF4FF;
    padding: 5px;
}

.more-persion .thumb, .more-persion .more-persion-link {
    overflow: hidden;
    zoom: 1;
}

.more-persion .more-persion-link {
    margin: 5px 10px 0px 10px;
}

.more-persion .more-persion-link li {
    float: left;
    margin-right: 6px;
}

.more-persion .more-persion-link a:link, .more-persion .more-persion-link a:visited {
    color: #055296;
    text-decoration: underline;
}

.more-persion .thumb li {
    width: 33%;
    float: left;
}

.more-persion .thumb img {
    border: 1px solid #e4e4e4;
    padding: 2px;
    background: #fff;
}

.more-persion .thumb img, .more-persion .thumb span {
    display: block;
    text-align: center;
    margin: 2px auto;
    color: #055296;
    text-decoration: underline;
}

.thumb-news-big {
    border: 1px solid #d4d4d4;
    height: 200px;
    overflow: hidden;
}

.section-left-container .thumb-news-big {
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.thumb-news-big .desp, .thumb-news-big .thumb {
    clear: both;
}

.thumb-news-big .thumb {
    width: 215px;
    height: 130px;
    margin: 0px auto;
}

.column-260 .normal-box .thumb-news-big .desp {
    margin: 0px; padding: 0px;
    width: 215px;
}

.column-260 .normal-box .thumb-news-big .desp h4 {
    font-size: 12px;
    margin: 5px 0px;
}

.column-260 .normal-box .thumb-news-big .desp h4 a:link,
.column-260 .normal-box .thumb-news-big .desp h4 a:visited {
    font-size: 12px;
    font-weight: bold;
}

.column-260 .normal-box .thumb-news-big .desp p,
.column-260 .normal-box .thumb-news-big .desp h4 {
    width: 215px;
}

.column-2-390 .news-big-title {
    margin: 10px auto;
}

.news-big-title {
    text-align: center;
    background: #ECECEC;
    padding: 5px 10px;
}

.news-big-title h2 {
    font-size: 16px;

}

.news-big-title .more {
    color:#EA491B;
    text-decoration:underline;
}


.news-big-title h2 a:link, .news-big-title h2 a:visited {
    font-size: 16px;
    color: #055296;
}

.big-news-image-165 {

}

.big-news-image-165 p {
    width: 233px;
    float: static;
}

.big-news-image-165 img, .big-news-image-165 a {
    display: block;
    text-align: center;
    margin: 3px auto;
}

.big-news-image-165 a:link, .big-news-image-165 a:visited {
    font-weight: bold;
}

.normal-box-two-columns {
    overflow: hidden;
    clear: both;
}

.normal-box-two-columns .two-columns-100 {
    float: left;
    width: 72px;
}

.normal-box-two-columns .two-columns-100 p {
    width: 100%;
}

.normal-box-two-columns .list-items {
    float: left;
    width: 125px;
}


.normal-box-two-columns .list-items li {
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}

.news-big-title-v2 {
    background: none;
    border-bottom: 1px dotted #d4d4d4;
}

.news-big-title-v2 h2 {
    margin-bottom: 10px;
}

.news-big-title-v2 h2 a:link, .news-big-title-v2 h2 a:visited {
    font-weight: bold;
    color: #f60;
    text-decoration: underline;
}

.express-news {
    background: url(../images/029.png) repeat-x top left;
    overflow: hidden;
    zoom: 1;
    clear: both;
    height: 35px;
    border: 1px solid #ecc9a3;
    border-left: 0px;
    border-right: 0px;
    line-height: 35px;
}

.express-news ul {
    height: 35px;
    margin-top: 15px;
    float: left;
}

.column-630 .express-news {
    position: absolute;
    width: 390px;
    bottom: 0px;
    left: 0px;
}

.column-630 .express-news ul {
    margin: 0px;
    padding: 0px;
    margin-top: 6px;
    margin-left: 15px;
}

.express-news ul a {
    font-size: 12px;
    color: #b73f00;
}

.express-news h6 {
    color: #b73f00;
    font-weight: normal;
    line-height: 35px;
    float: left;
}

.express-news li {
    float: left;
    width: 130px;
    overflow: hidden;
    height: 18px;
}

.thumb-desption-news-90 {
    background: url(../images/028.png) no-repeat top left;
    height: 120px;
    overflow: hidden;
}

.thumb-desption-news-90 .thumb {
    margin-left: 5px;
    margin-top: 10px;
    width: 90px;
    height: 90px;
}

.column-260 .normal-box .thumb-desption-news-90 .desp {
    width: 120px;
    margin-top: 10px;
    margin: 2px;
    height: 120px;
}

.column-260 .normal-box .thumb-desption-news-90 .desp p,
.column-260 .normal-box .thumb-desption-news-90 .desp h4 {
    width: 120px;
}

.tab-view2 {
    background: url(../images/026.png) repeat-x top left;
    border: 1px solid #d4d4d4;
    border-left: 0px;
    border-right: 0px;
    height: 25px;
    top: -1px;
    position: relative;
}

.tab-view2 .title {
    position: absolute;
    margin: 0px;
    height: 26px;
    line-height: 26px;
    padding: 0px 15px;
    top: -1px;
    border: 1px solid #d4d4d4;
    background: #fff;
    border-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
}

.tab-view2 .more {
    position: absolute;
    right: 5px;
    top: 4px;
}

.tab-view2 .more span {
    padding-left: 5px;
    border-left: 1px solid #d4d4d4;
}

.thumb-desption-news-90-fix {
    width: 244px;
    height: 125px;
}

.training-review-persion {
    overflow: hidden;
    zoom: 1;
    margin-top: 15px;
}

.training-review-persion .thumb, .training-review-persion .desption {
    margin-top: 15px;
    margin-bottom: 15px;
}

.training-review-persion .desption {
    width: 120px;
    height: 148px;
    overflow: hidden;
    background: whitesmoke;
}

.column .section-title-last {
    background: none;
    color:#055296;
    border-bottom: 1px solid #055296;
    position: relative;
    clear: both;
}

.column .section-title-last a:link, .column .section-title-last a:visited,
.column .section-title-last span {
    color:#055296;
}

.column .section-title-last span {
    border-left: 1px solid #055296;
}

.column .section-title-last .dot {
    display: block;
    width: 10px;
    height: 10px;
    background: #055296;
    text-indent: -999em;
    overflow: hidden;
    font-size: 0px;
    position: absolute;
    border: 0px;
    padding: 0px;
    top: 10px; left: 5px;
}

.gloden-logo {
    border: 1px solid #A4CAEF;
    margin-top: 5px;
}

.gloden-logo h4 {
    border-bottom: 1px solid #A4CAEF;
    background:transparent url(../images/026.png) repeat-x scroll left top;
    height:25px;
    position:relative;
    font-weight: bold;
    font-size: 14px;
    color:#055296;
    line-height: 25px;
}

.gloden-logo h4 span {
    display: block;
    background: url(../images/027.png) no-repeat scroll 0px 8px;
    padding-left: 10px;
    margin-left: 5px;
}

.gloden-logo ul {
    padding: 5px;
    padding-left: 10px;
    zoom: 1;
    width: 900px;
    clear: both;
    overflow: hidden;
}

.gloden-logo li {
    zoom: 1;
    float: left;
    width: 100px;
    margin-right: 12px;
}

.gloden-logo li a:link, .gloden-logo li a:visited {
    display: block;
    color:#055296;
    text-decoration: underline;
}

.gloden-logo li img {
    display: block;
    text-align: center;
    margin: 2px auto;
}

.gloden-logo li span {
    text-align: center;
    margin: 2px auto;
    color:#055296;
    text-decoration: underline;
    display: block;
}

.column .section-title-bg2 {
    background-image: url(../images/031.png);
    padding-left: 30px;
}

.column .section-title-bg3 {
    background-image: url(../images/034.png);
    padding-left: 30px;
}

.column .section-title-bg4 {
    background-image: url(../images/035.png);
    padding-left: 30px;
}


.column .column-two-offer-v2 {
    background-image: url(../images/032.png);
    overflow: hidden;
    zoom: 1;
}

.column .column-two-offer-v2 .category-broswer,
.column .column-two-offer-v2 .area-list {
    background: none;
    border: none;
    overflow: hidden;
    position: relative;
    zoom: 1;
}

.column .column-two-offer-v2 .category-broswer {

}

.column .column-two-offer-v2 .tab-view .title {
    background: none;
    border: none;
    margin-left: 37px;
    _margin-left: 18px;
}

.column .column-two-offer-v2 .category-broswer dd {
    overflow: hidden;
    zoom: 1;
}

.column .column-two-offer-v2 .category-broswer dd a:link, 
.column .column-two-offer-v2 .category-broswer dd a:visited {
    border: none;
    padding: 0px;
    overflow: hidden;
    margin-left: 0px;
}

.thumb-list-1 .tab-view-v3 {
    overflow: visible;
    clear: both;
}

.thumb-list-1 .tab-view-v3 .title {
    padding: 0px;
    background: url(../images/033.png) no-repeat top left;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 95px;
    margin-bottom: 5px;
    border: 1px solid #A4CAEF;
    border-bottom: 0px;
    position: absolute;
    top: -2px;
    left: -1px;
}

.normal-box-v3 {
    background: url(../images/037.png) no-repeat top left;
    border: 1px solid #d4d4d4;
    width: 256px;
    height: 272px;
    padding: 0px;
    margin: 0px;
    position: relative;
    margin-bottom: 5px;
}

.normal-box-v3 .thumb-news-big {
    width:240px;
    height: 202px;
    border: 1px solid #d4d4d4;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 0px;
    margin: 0px;
}


.blue-items-news {
    border: 1px solid #A4CAEF;
    background: url(../images/036.png) no-repeat top left;
    zoom: 1;
    overflow: hidden;
    position: relative;
    width: 256px;
}

.blue-items-news h4 {
    position: relative;
    zoom: 1;
    background-color: transparent;
    border-bottom: 0px;
}

.mingheng-last {
    background:transparent url(../images/012.png) repeat-x scroll left top;
}
