@import url('header.source.css');
@import url('footer.source.css');

.container {
    width: 916px;
    margin: 0px auto;
}

.area1, .area2, .area3, .area4{margin:0px auto;text-align:center;width:916px;margin-top:8px;}
.area1{min-height:460px;}
.area2{min-height:580px;}
.area3{min-height:195px;}
.area4{min-height:425px;margin-bottom:8px;}
/* area1 begin */
.area1 .leftcon{width:696px;float:left;margin-right:6px;}
.area1 .leftcon .l{width:240px;padding:5px;border:1px solid #93BCEA;float:left;margin-right:10px;}
.area1 .leftcon .r{width:434px;float:left;}
.area1 .leftcon .b{width:696px;margin-top:5px;}
.area1 .rightcon{width:192px;padding:10px;border:1px solid #93BCEA;float:left;}

.centitle{width:414px;background:url(../images/big/009.gif) no-repeat left;height:38px;padding-left:20px;border-bottom:1px dashed #A0A0A0;}
.centitle h1{font-size:14px;line-height:38px;text-align:left;color:#FE4502;float:left;width:350px;font-weight:bold;}
.centitle input{float:left;margin-top:10px;}
.centitle a{line-height:38px;}
.centitle a:link{color:#173D86;}
.centitle a:visited{color:#173D86;}
.centitle a:hover{color:#173D86;}

.centitle1{background:url(../images/big/009.gif) no-repeat left;height:38px;padding-left:20px;border-bottom:1px dashed #A0A0A0;}
.centitle1 h1{font-size:14px;line-height:38px;text-align:left;color:#073477;float:left;width:160px;font-weight:bold;}
.centitle1 h2{font-size:14px;line-height:38px;text-align:left;color:#073477;float:left;width:200px;font-weight:bold;}
.centitle1 h3{font-size:14px;line-height:38px;text-align:left;color:#073477;float:left;width:200px;font-weight:bold;}
.centitle1 input{float:left;margin-top:10px;}
.centitle1 a{line-height:38px;}
.centitle1 a:link{color:#073477;}
.centitle1 a:visited{color:#073477;}
.centitle1 a:hover{color:#073477;}



.maincon{text-align:left;background:url(../images/big/018.gif) repeat-x bottom;padding-bottom:25px;margin-top:10px;}
.maincon h1{text-align:center;font-size:14px;font-weight:bold;line-height:30px;}
.maincon a:link{color:#EC4600;}
.maincon a:visited{color:#EC4600;}
.maincon a:hover{color:#EC4600;}

.firstcon{color:#888888;margin-top:10px;margin-bottom:10px;text-align:left;}
.firstcon h2{color:#FC5A00;font-size:14px;line-height:30px;text-align:center;}
.firstcon a:link{color:#FC5A00;text-decoration:none;}
.firstcon a:visited{color:#FC5A00;text-decoration:none;}
.firstcon a:hover{color:#FC5A00;text-decoration:underline;}

.dlstyle1{margin-left:0px;line-height:26px;text-align:left;height:250px;color:black;margin-top:5px;}
.dlstyle1 dt{width:340px;float:left;}
.dlstyle1 dt a{font-size:13px;}
.dlstyle1 dt a:link{color:#373737;text-decoration:underline;}
.dlstyle1 dt a:visited{color:#373737;text-decoration:underline;}
.dlstyle1 dt a:hover{color:#F35D0D;text-decoration:underline;}
.dlstyle1 dd{color:#767676;float:left;width:45px;font-size:13px;height:28px;}
.dlstyle1 dd a{font-size:13px;}
.dlstyle1 dd a:link{color:#5D5D5D;}
.dlstyle1 dd a:visited{color:#5D5D5D;}
.dlstyle1 dd a:hover{color:#5D5D5D;}

.dlstyle2{text-align:left;line-height:24px;margin-bottom:10px;}
.dlstyle2 dt{float:left;width:40px;}
.dlstyle2 dt a:link{color:#EC4600;}
.dlstyle2 dt a:visited{color:#EC4600;}
.dlstyle2 dt a:hover{color:#EC4600;}
.dlstyle2 dd{float:left;width:200px;}

.dlstyle3{margin-left:20px;padding-top:10px;padding-bottom:10px;height:110px;}
.dlstyle3 dt{width:110px;float:left;}
.dlstyle3 dt img{padding:3px;border:1px solid #D8D5DC;}
.dlstyle3 dd{width:110px;float:left;line-height:24px;}

.dlstyle5{margin-left:10px;padding-top:20px;padding-bottom:30px;height:110px;}
.dlstyle5 dt{width:105px;float:left;}
.dlstyle5 dt img{padding:3px;border:1px solid #D8D5DC;}
.dlstyle5 dd{width:105px;float:left;line-height:24px;}
.dlstyle5 dd a:link{color:#033C93;}
.dlstyle5 dd a:visited{color:#033C93;}
.dlstyle5 dd a:hover{color:#033C93;}

.lefttitle{width:251px;height:40px;background:url(../images/big/021.gif) no-repeat;line-height:40px;}
.lefttitle h1{float:left;font-size:14px;font-weight:bold;padding-left:30px;width:170px;text-align:left;}
.lefttitle a{float:left;}

.righttitle{height:30px;line-height:36px;background:url(../images/big/018.gif) repeat-x bottom;}
.righttitle h1{text-align:left;font-size:14px;color:#1A66B2;border-bottom:1px solid #89B0D7;background:url(../images/big/014.gif) no-repeat left;padding-left:15px;float:left;width:160px;}
.righttitle h2{text-align:left;font-size:14px;color:#1A66B2;background:url(../images/big/014.gif) no-repeat left;padding-left:15px;float:left;width:130px;font-weight:bold;}
.righttitle a{float:left;}
.righttitle a:link{color:#054FA6;}
.righttitle a:visited{color:#054FA6;}
.righttitle a:hover{color:#054FA6;}

.ulstyle1{margin-left:0px;line-height:24px;text-align:left;}
.ulstyle1 li{background:url(../images/big/007.gif) no-repeat left;padding-left:15px;}
.ulstyle1 li a:link{color:#3f3f3f;text-decoration:underline;}
.ulstyle1 li a:visited{color:#3f3f3f;text-decoration:underline;}
.ulstyle1 li a:hover{color:#F35D0D;text-decoration:underline;}

.ulstyle2{margin-left:0px;line-height:24px;text-align:left;}
.ulstyle2 li{background:url(../images/big/013.gif) no-repeat left;padding-left:15px;}
.ulstyle2 li a{font-size:14px;}
.ulstyle2 li a:link{color:#3f3f3f;text-decoration:underline;}
.ulstyle2 li a:visited{color:#3f3f3f;text-decoration:underline;}
.ulstyle2 li a:hover{color:#F35D0D;text-decoration:underline;}

.ulstyle3{margin-bottom:40px;margin-left:0px;margin-top:10px;}
.ulstyle3 li{width:52px;height:25px;line-height:25px;float:left;border:1px solid #CCCCCC;margin-left:5px;margin-top:5px;}
.ulstyle3 li a:link{color:black;}
.ulstyle3 li a:visited{color:black;}
.ulstyle3 li a:hover{color:black;}


/* area1 end */

/* area2 begin */
.area2 .leftcon{width:252px;float:left;margin-right:10px;}
.area2 .centercon{width:434px;float:left;margin-right:6px;}
.area2 .rightcon{width:214px;float:left;}
.area2 .rightcon .t{width:192px;padding:10px;border:1px solid #93BCEA;margin-bottom:10px;}
.area2 .leftcon .b{width:229px;padding:10px;border:1px solid #C1C2C3;border-top:none;}
/* area2 end */

/* area3 begin */
.area3 .t{width:916px;height:46px;background:url(../images/big/index_8.jpg) no-repeat;line-height:46px;}
.area3 .t h1{float:left;padding-left:50px;font-size:14px;color:#024299;width:800px;text-align:left;}
.area3 .t a{float:left;color:#024299;}
.area3 .m{width:916px;background:url(../images/big/index_9.jpg) repeat-y;}
.area3 .b{width:916px;height:16px;background:url(../images/big/index_7.jpg) no-repeat;}
/* area3 end */


/* area4 begin */
.area4 .leftcon{width:224px;padding:10px;border:1px solid #93BCEA;float:left;margin-right:5px;}
.area4 .centercon{width:306px;padding:10px;border:1px solid #93BCEA;float:left;margin-right:5px;}
.area4 .rightcon{width:310px;padding:10px;border:1px solid #93BCEA;float:left;}
/* area4 end */

.adverzone1{width:916px;text-align:center;margin:0px auto;margin-bottom:8px;}
.adverzone1 img{margin-right:8px;}