<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style type="text/css">
            .ppt {
                overflow: hidden;
            }
            .section {
                position: relative;
                height: 500px;
                width: 100%;
                background: red;
                margin-bottom: 5px;
                border: 2px solid green;
            }

            .ppt {
                background: blue;
            }
        </style>
        <script type="text/javascript" src="mootools-1.2.1-core-nc.js"></script>
        <script type="text/javascript" src="accordian.source.js"></script>
        <script type="text/javascript">
            window.addEvent('domready', function() {
                var handle = new Accordian('ppt');
            });
        </script>
    </head>
    <body>
        <div id="ppt" class="ppt">
            <div class="section">1</div>
            <div class="section"><img src="spirity.png" /></div>
            <div class="section">3</div>
            <div class="section"><img src="spirity.png" /></div>
            <div class="section">5</div>
        </div>
    </body>
</html>
