<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="css/reset.source.css" />
        <link rel="stylesheet" type="text/css" href="css/grid.source.css" />
        <link rel="stylesheet" type="text/css" href="css/ppt.source.css" />
        <title></title>
    </head>
    <body>
        <div class="page">
            <h2 class="title">这是幻灯片的标题</h2>
            <div class="content">
            <h3 class="title-2">这是幻灯片的标题</h3>
            <p>这是简述</p>
            </div>

        </div>
    </body>
</html>
