<div class="pager-footer">
    <div class="body body-950">
        <div class="container">
            <div class="column-08 start-01">
                <?php include 'slice/category_pager.inc.html'; ?>
            </div>
            <div class="column-08 start-09">
                <?php include 'slice/category_archives.inc.html'; ?>
            </div>
            <div class="column-08 start-17">
                <?php include 'slice/category_twitter.inc.html'; ?>

            </div>
        </div>
        <div class="container">
            <div class="column-24 start-01 copyright">
                <p><a href="http://www.typecho.net/">Gracecode.com</a> is proudly powered by <a href="http://www.typecho.org">Typecho</a>.<br/>
                <a href="http://www.typecho.net/feed/">Entries (RSS)</a> and <a
                    href="http://www.typecho.net/feed/comments/">Comments
                    (RSS)</a>.</p>
                <p>$Id$</p>
            </div>
        </div>
    </div>
</div>
