@import url('footer.source.css');

h1,h2,h3{font-size:14px;font-weight:bold;}

.header{width:916px;text-align:center;margin:0px auto;height:26px;}

.header-guid-links{float:right;height:26px;line-height:26px;}
.header-guid-links li{float:left;padding:0px 5px;}
.header-guid-links li a:link{color:#0B4B95;}
.header-guid-links li a:visited{color:#0B4B95;}
.header-guid-links li a:hover{color:#0B4B95;}
.header-guid-links .hot a:link{color:#FD4401;}
.header-guid-links .hot a:visited{color:#FD4401;}
.header-guid-links .hot a:hover{color:#FD4401;}
.header-guid-register{float:right;height:26px;line-height:26px;background:url(../images/003.gif) no-repeat right;padding-right:10px;}
.header-guid-register li{float:left;padding:0px 10px;background:url(../images/002.gif) no-repeat left;padding-left:15px;}
.header-guid-register li a:link{color:#0B4B95;}
.header-guid-register li a:visited{color:#0B4B95;}
.header-guid-register li a:hover{color:#0B4B95;}

.logozone{width:896px;margin:0px auto;text-align:center;padding:10px;height:60px;}
.logo{float:left;}

.ulstyle1{width:660px;float:left;padding-left:20px;}
.ulstyle1 li{float:left;width:60px;line-height:24px;color:#BDBDBD;}

.adverzone{width:916px;text-align:center;margin:0px auto;margin-bottom:8px;}

.mainbanner{width:914px;height:71px;text-align:center;margin:0px auto;background:url(../images/mainbanner-bg.gif) no-repeat;margin-bottom:8px;}

.search{padding:10px;line-height:24px;}
.searchbutton{width:46px;height:22px;line-height:22px;color:white;background:url(../images/005.gif) no-repeat;border:none;}
.search input{float:left;margin:0px 5px;}
.search select{float:left;margin:0px 5px;}
.search h1{float:left;font-size:14px;color:#023978;margin:0px 5px;font-weight:bold;margin-left:15px;}
.search a{float:left;padding:0px 5px;}
.search a:link{color:#023978;}
.search a:visited{color:#023978;}
.search a:hover{color:#023978;}

.maintitle{height:30px;line-height:27px;}

.maintitle1{padding-left:20px;width:500px;float:left;}
.maintitle1 li{float:left;width:85px;height:27px;background:url(../images/maintitle2.gif) no-repeat;margin:0px 1px;}
.maintitle1 li:hover{background:url(../images/maintitle1.gif) no-repeat;}
.maintitle1 li a:link{color:#0B4B95;}
.maintitle1 li a:visited{color:#0B4B95;}
.maintitle1 li a:hover{color:#0B4B95;}

.maintitle2{float:left;}
.maintitle2 li{float:left;width:85px;height:27px;background:url(../images/maintitle2.gif) no-repeat;margin:0px 1px;}
.maintitle2 li:hover{background:url(../images/maintitle1.gif) no-repeat;}
.maintitle2 li a:link{color:#0B4B95;}
.maintitle2 li a:visited{color:#0B4B95;}
.maintitle2 li a:hover{color:#0B4B95;}


.area1, .area2, .area3, .area4, .area5{width:916px;text-align:center;margin:0px auto;margin-bottom:8px;}

.area1{min-height:470px;}

/* area1 begin*/
.area1 .leftcon{float:left;margin-right:5px;width:270px;}
.area1 .centercon{float:left;margin-right:5px;width:372px;}
.area1 .rightcon{float:left;width:264px;}
.area1 .leftcon .t{width:248px;padding:10px;border:1px solid #CDCDCD;margin-bottom:8px;}
.area1 .leftcon .t .title{height:30px;line-height:30px;}
.area1 .leftcon .t .title h1{float:left;color:#0B4B95;background:url(../images/channel1.gif) no-repeat left;padding-left:20px;}
.area1 .leftcon .t .title .blank{float:left;width:120px;height:30px;background:url(../images/channel2.gif) repeat-x;margin:0px 5px;}
.area1 .leftcon .t .title a{float:left;color:#0B4B95;}

.area1 .leftcon .b{width:248px;padding:10px;border:1px solid #CDCDCD;}
.area1 .leftcon .b .title{height:30px;line-height:30px;}
.area1 .leftcon .b .title h1{float:left;color:#0B4B95;background:url(../images/channel1.gif) no-repeat left;padding-left:20px;}
.area1 .leftcon .b .title .blank{float:left;width:120px;height:30px;background:url(../images/channel2.gif) repeat-x;margin:0px 5px;}
.area1 .leftcon .b .title a{float:left;color:#0B4B95;}

.area1 .centercon .t{width:370px;border:1px solid #CDCDCD;margin-bottom:8px;}
.area1 .centercon .t .title{width:370px;height:57px;background:url(../images/channel4.gif) repeat-x;}
.area1 .centercon .t .title h1{font-weight:normal;}
.area1 .centercon .t .title h1 a{color:black;font-size:14px;line-height:30px;}
.area1 .centercon .t .title a{color:#FF4001;}

.area1 .centercon .b{width:350px;padding:10px;border:1px solid #CDCDCD;}
.area1 .centercon .b .title{height:30px;line-height:30px;}
.area1 .centercon .b .title h1{float:left;color:#0B4B95;background:url(../images/channel1.gif) no-repeat left;padding-left:20px;}
.area1 .centercon .b .title .blank{float:left;width:220px;height:30px;background:url(../images/channel2.gif) repeat-x;margin:0px 5px;}
.area1 .centercon .b .title a{float:left;color:#0B4B95;}

.ulstyle2{text-align:left;line-height:24px;margin-top:10px;margin-bottom:-3px;*margin-bottom:5px !important;*margin-bottom:5px;}
.ulstyle2 li{background:url(../images/big/013.gif) no-repeat left;padding-left:10px;}
.ulstyle2 li a{font-size:13px;}

.dlstyle1{text-align:left;line-height:24px;height:170px;margin-top:10px;margin-bottom:-3px;*margin-bottom:5px !important;*margin-bottom:5px;}
.dlstyle1 dt{float:left;background:url(../images/big/013.gif) no-repeat left;padding-left:10px;width:290px;}
.dlstyle1 dd{float:left;}

.area1 .leftcon .b{width:248px;padding:10px;border:1px solid #CDCDCD;}

.area1 .rightcon .title{width:264px;height:25px;background:url(../images/channel7.gif) no-repeat bottom;}
.area1 .rightcon .rightcon1{width:242px;padding:10px;padding-top:5px;border:1px solid #CFCFCF;border-top:none;}
.area1 .rightcon .rightcon2{width:242px;padding:10px;padding-top:5px;border:1px solid #CFCFCF;border-top:none;display:none;}
.area1 .rightcon .rightcon3{width:242px;padding:10px;padding-top:5px;border:1px solid #CFCFCF;border-top:none;display:none;}

.ulstyle3{margin-left:15px;_margin-left:10px;line-height:24px;}
.ulstyle3 li{width:70px;height:25px;background:url(../images/channel6.gif) no-repeat;float:left;margin:0px 4px;}
.ulstyle3 li:hover{background:url(../images/channel5.gif) no-repeat;}
.ulstyle3 li a{color:white;font-weight:bold;}
.ulstyle3 li a:link{color:white;}
.ulstyle3 li a:visited{color:white;}
.ulstyle3 li a:hover{color:white;}

.righttitle{border-bottom:1px solid #B1B1B1;height:26px;line-height:26px;}
.righttitle h1{float:left;font-size:12px;color:#054F98;background:url(../images/big/014.gif) no-repeat left;padding-left:15px;width:180px;text-align:left;}
.righttitle a{float:left;}

.dlstyle2{text-align:left;line-height:20px;height:80px;}
.dlstyle2 dt{font-weight:bold;float:left;width:40px;}
.dlstyle2 dd{float:left;width:200px;}

.adverzone1{width:916px;text-align:center;margin:0px auto;margin-bottom:8px;}
.adverzone1 img{margin-right:8px;}

/* area1 end*/

/* area2 begin */
.area2{width:914px;border:1px solid #CDCDCD;min-height:391px;*min-height:395px !important;*min-height:395px;}
.area2 .title{height:30px;line-height:30px;background:url(../images/channel10.gif) no-repeat;}
.area2 .title h1{float:left;width:600px;text-align:left;padding-left:30px;color:#AD2800;}
.area2 .title ul{float:left;width:280px;}
.area2 .title ul li{float:left;color:#AD2800;}
.area2 .title ul li a{color:#AD2800;}
.area2 .maincon{width:205px;padding:10px;float:left;border-right:1px solid #CDCDCD;margin:10px 0px;}
.area2 .maincon .littletitle{background:url(../images/big/018.gif) repeat-x bottom;width:200px;height:30px;}
.area2 .maincon .littletitle h1{float:left;color:#AD2800;width:150px;text-align:left;}
.area2 .maincon .littletitle a{float:left;color:#AD2800;}

.area2 .maincon1{width:205px;padding:10px;float:left;margin:10px 0px;}
.area2 .maincon1 .littletitle{background:url(../images/big/018.gif) repeat-x bottom;width:200px;height:30px;}
.area2 .maincon1 .littletitle h1{float:left;color:#AD2800;width:150px;text-align:left;}
.area2 .maincon1 .littletitle a{float:left;color:#AD2800;}

.area2 .seccon .banner{float:left;width:144px;}
.area2 .seccon .con{width:770px;float:left;background:url(../images/channel12.gif) repeat-x;height:112px;}
.area2 .seccon .con ul{margin-top:5px;}
.area2 .seccon .con ul li{float:left;margin-right:2px;}
.area2 .seccon .con ul li img{border:1px solid #FAD04B;}
/* area2 end */

/* area3 begin */
.area3{width:914px;border:1px solid #CDCDCD;min-height:410px;}
.area3 .leftcon{width:255px;float:left;border-right:1px solid #CDCDCD;}
.area3 .leftcon .title{background:url(../images/channel14.gif);width:255px;height:34px;line-height:34px;}
.area3 .leftcon .title h1{float:left;color:#083493;padding-left:25px;width:172px;margin-left:8px;text-align:left;background:url(../images/channel1.gif) no-repeat left;}
.area3 .leftcon .title a{float:left;color:#083493;}

.dlstyle3{border:1px solid #C8C8C8;width:230px;margin:5px 5px;padding:5px;text-align:left;}
.dlstyle3 dt a{font-size:14px;color:#FD4109;font-weight:bold;}
.dlstyle3 dt a:link{color:#FD4109;}
.dlstyle3 dt a:visited{color:#FD4109;}
.dlstyle3 dt a:hover{color:#FD4109;}
.dlstyle3 dd{text-align:left;}

.dlstyle4{border:1px solid #C8C8C8;width:230px;margin:5px 5px;padding:5px;text-align:left;background:#F3F3F3;}
.dlstyle4 dt a{font-size:14px;color:#FD4109;font-weight:bold;}
.dlstyle4 dt a:link{color:#FD4109;}
.dlstyle4 dt a:visited{color:#FD4109;}
.dlstyle4 dt a:hover{color:#FD4109;}
.dlstyle4 dd{text-align:left;}

.area3 .rightcon{width:633px;padding-left:10px;padding-right:10px;padding-top:10px;float:left;}
.area3 .rightcon .title{height:30px;line-height:30px;}
.area3 .rightcon .title h1{float:left;color:#073394;background:url(../images/big/009.gif) no-repeat left;padding-left:20px;border-bottom:1px solid red;width:100px;text-align:left;}
.area3 .rightcon .title a{float:left;border-bottom:1px solid #C9C9C9;width:500px;text-align:right;padding-right:10px;}

.dlstyle5{margin-top:15px;margin-left:0px;height:260px;}
.dlstyle5 dt{width:125px;float:left;margin-top:10px;}
.dlstyle5 dt img{border:1px solid #CBCBCB;padding:1px;}
.dlstyle5 dd{width:125px;float:left;margin-top:5px;}
.dlstyle5 dd h1{width:105px;background:#EAEAEA;text-align:center;margin-left:10px;*margin-left:0px !important;*margin-left:0px;}
.dlstyle5 dd a{font-weight:normal;}

.area3 .rightcon .bottomcon{height:75px;border-top:1px dashed #CBB02F;width:633px;margin-top:10px;background:#FDF4E5;}
.dlstyle6{line-height:24px;}
.dlstyle6 dt{float:left;width:50px;}
.dlstyle6 dt a:link{color:#DD1203;}
.dlstyle6 dt a:visited{color:#DD1203;}
.dlstyle6 dt a:hover{color:#DD1203;}
.dlstyle6 dd{float:left;width:250px;text-align:left;}
.dlstyle6 dd a{margin-left:5px;}
/* area3 end */

/* area4 begin*/
.area4{width:914px;border:1px solid #CDCDCD;min-height:665px;}
.area4 .leftcon{width:255px;float:left;}
.area4 .leftcon .title{background:url(../images/channel14.gif);width:255px;height:34px;line-height:34px;}
.area4 .leftcon .title h1{float:left;color:#083493;padding-left:25px;width:172px;margin-left:8px;text-align:left;background:url(../images/channel1.gif) no-repeat left;}
.area4 .leftcon .title a{float:left;color:#083493;}

.ulstyle5{text-align:left;line-height:24px;margin-top:10px;margin-bottom:-3px;*margin-bottom:5px !important;*margin-bottom:5px;margin-left:10px;}
.ulstyle5 li{background:url(../images/big/013.gif) no-repeat left;padding-left:10px;}
.ulstyle5 li a{font-size:13px;}

.area4 .leftcon .title1{background:url(../images/channel17.gif);width:255px;height:35px;line-height:35px;}
.area4 .leftcon .title1 h1{float:left;color:#083493;padding-left:25px;width:172px;margin-left:8px;text-align:left;background:url(../images/channel1.gif) no-repeat left;}
.area4 .leftcon .title1 a{float:left;color:#083493;}

.dlstyle7{width:230px;text-align:left;border-bottom:1px dashed #B3B3B3;margin-top:10px;margin-bottom:10px;margin-left:10px;}
.dlstyle7 dt{color:#1153B4;font-size:12px;font-weight:bold;}
.dlstyle7 dd{color:#6D6D6D;}

.area4 .centercon{width:305px;padding-left:10px;padding-right:10px;padding-top:10px;float:left;border-right:1px solid #CDCDCD;border-left:1px solid #CDCDCD;}
.area4 .centercon .title{height:30px;line-height:30px;}
.area4 .centercon .title h1{float:left;color:#073394;background:url(../images/big/009.gif) no-repeat left;padding-left:20px;border-bottom:1px solid red;width:90px;text-align:left;}
.area4 .centercon .title a{float:left;border-bottom:1px solid #C9C9C9;width:180px;text-align:right;padding-right:10px;}

.dlstyle8{height:95px;text-align:left;margin-top:10px;}
.dlstyle8 dt{width:100px;float:left;}
.dlstyle8 dt img{border:1px solid #B6B2B3;padding:2px;}
.dlstyle8 dd{width:200px;float:left;padding-top:5px;color:#818181;}
.dlstyle8 dd h1{font-weight:normal;}
.dlstyle8 dd h1 a{font-size:14px;}
.dlstyle8 dd h1 a:link{color:#053490;}
.dlstyle8 dd h1 a:visited{color:#053490;}
.dlstyle8 dd h1 a:hover{color:#053490;}
.dlstyle8 dd a:link{color:#FF3008;}
.dlstyle8 dd a:visited{color:#FF3008;}
.dlstyle8 dd a:hover{color:#FF3008;}

.dlstyle9{margin-top:10px;}
.dlstyle9 dt{width:100px;float:left;}
.dlstyle9 dt img{padding:1px;border:1px solid #CFC9C9;}
.dlstyle9 dd{width:100px;float:left;}

.area4 .rightcon{width:305px;padding-left:10px;padding-right:10px;padding-top:10px;float:left;}
.area4 .rightcon .title{height:30px;line-height:30px;}
.area4 .rightcon .title h1{float:left;color:#073394;background:url(../images/big/009.gif) no-repeat left;padding-left:20px;border-bottom:1px solid red;width:90px;text-align:left;}
.area4 .rightcon .title a{float:left;border-bottom:1px solid #C9C9C9;width:180px;text-align:right;padding-right:10px;}
/* area4 end */

/* area5 begin */
.area5{min-height:320px;}
.area5 .leftcon{width:255px;float:left;border:1px solid #CDCDCD;}

.area5 .leftcon .title{background:url(../images/channel19.gif);width:255px;height:30px;line-height:30px;}
.area5 .leftcon .title h1{float:left;color:#083493;padding-left:25px;width:172px;margin-left:8px;text-align:left;background:url(../images/channel1.gif) no-repeat left;}
.area5 .leftcon .title a{float:left;color:#083493;}

.dlstyle10{height:95px;text-align:left;margin-top:10px;margin-left:10px;}
.dlstyle10 dt{width:100px;float:left;}
.dlstyle10 dt img{border:1px solid #B6B2B3;padding:2px;}
.dlstyle10 dd{width:140px;float:left;padding-top:5px;color:#818181;}
.dlstyle10 dd h1{font-weight:bold;}
.dlstyle10 dd h1 a{font-size:12px;}
.dlstyle10 dd h1 a:link{color:#053490;}
.dlstyle10 dd h1 a:visited{color:#053490;}
.dlstyle10 dd h1 a:hover{color:#053490;}
.dlstyle10 dd a:link{color:#FF3008;}
.dlstyle10 dd a:visited{color:#FF3008;}
.dlstyle10 dd a:hover{color:#FF3008;}

.area5 .rightcon{float:right;width:645px;border:1px solid #CDCDCD;}
.area5 .rightcon .title{height:30px;width:645px;background:url(../images/channel10.gif) no-repeat left;line-height:30px;}
.area5 .rightcon .title h1{color:#AD2800;float:left;padding-left:30px;width:550px;text-align:left;}
.area5 .rightcon .title a{float:left;color:#083493;}

.area5 .rightcon .maincon{width:300px;padding:10px;float:left;border-right:1px solid #CDCDCD;margin-top:5px;}
.area5 .rightcon .maincon .littletitle{background:url(../images/big/018.gif) repeat-x bottom;width:300px;height:30px;}
.area5 .rightcon .maincon .littletitle h1{float:left;color:#AD2800;width:250px;text-align:left;}
.area5 .rightcon .maincon .littletitle a{float:left;color:#AD2800;}

.area5 .rightcon .maincon1{width:300px;padding:10px;float:left;margin-top:5px;}
.area5 .rightcon .maincon1 .littletitle{background:url(../images/big/018.gif) repeat-x bottom;width:300px;height:30px;}
.area5 .rightcon .maincon1 .littletitle h1{float:left;color:#AD2800;width:250px;text-align:left;}
.area5 .rightcon .maincon1 .littletitle a{float:left;color:#AD2800;}

.linkcon{width:914px;border:1px solid #CECECE;border-top:none;height:40px;margin-top:8px;text-align:center;margin:0px auto;height:110px;}
.linkcon .title{height:27px;line-height:27px;background:url(../images/channel20.gif) repeat-x;width:914px;}
.linkcon .title h1{float:left;color:#104F96;background:url(../images/channel21.gif) no-repeat left;padding-left:10px;margin-left:5px;}
.linkcon .title h2{float:left;color:#104F96;margin-left:10px;border-left:1px solid #A9CBF1;padding-left:10px;}
.linkcon .title ul{float:right;margin-right:10px;}
.linkcon .title ul li{float:left;}
.linkcon .title ul li a{color:#065397;}

.ulstyle6{margin:10px;}
.ulstyle6 li{float:left;width:97px;}
/* area5 end */