@import url('header.source.css');
@import url('footer.source.css');
@import url('common.source.css');

.container-mingcheng .section {
    margin-bottom: 2px;
    clear: both;
    overflow: hidden;
    zoom: 1;
}

.container-mingcheng .section .column {
    float: left;
    min-height: 100px;
    overflow: hidden;
}

.container-mingcheng .section .column-260 {
    width: 260px;
}

.container-mingcheng .section .column-630 {
    width: 653px;
}

.column .section-title {
    background: transparent url(../images/006.png) no-repeat scroll left top;
}

.column .section-title a:link, .column .section-title a:visited {
    color: #fff;
}

.column .section-title span {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 5px;
}

.column .section-left-container {
    height: auto;
    width: 250px;
    min-height: 10px;
    border: 1px solid #B8CEE5;
    background: #fff;
    zoom: 1;
    *padding-bottom: 5px;
}

.training-review {
}

.training-review h4 {
    font-size: 12px;
    background: #d4d4d4;
    margin-top: 5px;
    text-align: center;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    font-weight: bold;
    padding: 3px 0px;
    color:#055296;
}

.training-review h4 a:link, .training-review h4 a:visited {
    text-decoration: underline;
    color:#055296;
    position: static;
    font-weight: bold;
}

.training-review .thumb {
    float: left;
    margin:5px 5px;
}

.training-review .thumb img {
    border: 1px solid #d4d4d4;
    padding: 1px;
}

.training-review .desption {
    float: left;
    text-indent: 2em;
    width: 150px;
    margin: 5px 2px;
    text-align: justify;
}

.training-review .desption a{
    color: #EA491B;
    text-decoration: underline;
}

.desption-list {
    list-style: none;
    clear: both;
}

.desption-list li {
    color: #EA491B;
}

.desption-list a {
    color: #333;
    padding-left:.5em;
    text-decoration: underline;
}

.section-left-container .desption-list {
    margin: 10px;
    *margin-bottom: 0px;
}

.section-left-container .desption-list li {
    margin-bottom: 3px;
}

.column-630 .thumb-list-1 {

}

.column-630 .thumb-list-1 h3 {
    margin-top: 0px;
}

.training-notice {
    border: 1px dashed #d4d4d4;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
    padding: 1px;
}

.training-notice span {
    padding: 5px;
    display: block;
    background: #EDF6FF;
    position:relative;
    zoom: 1;
}

.training-notice a:link, .training-notice a:visited {
    font-size: 14px;
    color: #055296;
    text-decoration: underline;
}

.column-630 .column-two {
    background:transparent url(../images/012.png) repeat-x scroll left top;
    clear: both;
    zoom: 1;
    overflow: hidden;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.column-630 .column-two .thumb-list-1 {
    margin-top: 15px;
    width: 45%;
    float: left;
}
