@import url('header.source.css');
@import url('footer.source.css');
@import url('common.source.css');

.container-mingcheng .section {
    margin-bottom: 2px;
    clear: both;
    overflow: hidden;
    zoom: 1;
}

.container-mingcheng .section .column {
    float: left;
    min-height: 100px;
    overflow: hidden;
}

.container-mingcheng .section .column-260 {
    width: 260px;
}

.container-mingcheng .section .column-630 {
    width: 653px;
}

.column .section-title {
    background: transparent url(../images/006.png) no-repeat scroll left top;
}

.column .section-title a:link, .column .section-title a:visited {
    color: #fff;
}

.column .section-title span {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 5px;
}

.column .section-left-container {
    height: auto;
    width: 250px;
    min-height: 10px;
    border: 1px solid #B8CEE5;
    background: #fff;
    zoom: 1;
          *padding-bottom: 5px;
}

.column .section-left-container2 {
    border: 1px solid #F9C66B;
}

.training-review {
}

.training-review h4 {
    font-size: 12px;
    background: #d4d4d4;
    margin-top: 5px;
    text-align: center;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    font-weight: bold;
    padding: 3px 0px;
    color:#055296;
    border: none;
}

.training-review h4 a:link, .training-review h4 a:visited {
    text-decoration: underline;
    color:#055296;
    position: static;
    font-weight: bold;
}

.training-review .thumb {
    float: left;
    margin:5px 5px;
}

.training-review .thumb img {
    border: 1px solid #d4d4d4;
    padding: 1px;
}

.training-review .desption {
    float: left;
    text-indent: 2em;
    width: 150px;
    margin: 5px 2px;
    text-align: justify;
}

.training-review .desption a{
    color: #EA491B;
    text-decoration: underline;
}

.desption-list {
    list-style: none;
    clear: both;
}

.desption-list li {
    color: #EA491B;
}

.desption-list a {
    color: #333;
    padding-left:.5em;
    text-decoration: underline;
}

.section-left-container .desption-list {
    margin: 10px;
            *margin-bottom: 0px;
}

.section-left-container .desption-list li {
    margin-bottom: 3px;
}

.column-630 .thumb-list-1 {

}

.column-630 .thumb-list-1 h3 {
    margin-top: 0px;
}

.training-notice {
    border: 1px dashed #d4d4d4;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
    padding: 1px;
}

.training-notice span {
    padding: 5px;
    display: block;
    background: #EDF6FF;
    position:relative;
    zoom: 1;
}

.training-notice a:link, .training-notice a:visited {
    font-size: 14px;
    color: #055296;
    text-decoration: underline;
}

.column-630 .column-two {
    background:transparent url(../images/012.png) repeat-x scroll left top;
    clear: both;
    zoom: 1;
    overflow: hidden;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.column-630 .column-two .thumb-list-1 {
    /*
    margin-top: 15px;
     */
width: 45%;
float: left;
}

.two-columns-100 {
    overflow: hidden;
    zoom: 1;
}

.two-columns-100 p {
    float: left;
    width: 49%;
    text-align: center;
}

.two-columns-100 p img {
    display: block;
    margin: 5px auto;
}

.two-columns-100 p a:link, .two-columns-100 p a:visited {
    display: block;
    color: #055296;
    text-decoration: underline;
}

.thumb-list-1 .two-columns-100 {
    margin-bottom: 15px;
    clear: both;
}

.table-training-list {
    width: 100%;
}

.table-training-list th, .table-training-list td {
    color: #555;
    padding: 3px 0px;
             *padding: 2px 0px;
}

.table-training-list th {
    text-align: center;
    padding: 0px 2px;
}

.table-training-list th span {
    border: 1px solid #d4d4d4;
    padding: 2px;
    background: whitesmoke;
    border-top: 0px;
    display: block;
}

.table-training-list td {
    padding-left: 1em;
}

.table-training-list td a:link, .table-training-list td a:visited {
    font-size: 14px;
    text-decoration: underline;
}

.column-260 .blue-items {
    margin-bottom: 15px;
}

.column .section-title-red {
    background-image: url(../images/016.png);
}

.flash-guid {
    padding: 10px 10px 0px 10px;
}

.flash-guid a:link, .flash-guid a:visited {
    color: #055296;
    text-decoration: underline;
    font-weight: bold;
}

.flash-guid div, .flash-guid p {
    margin: 0px auto;
    text-align: center;
}

.flash-guid .flash {
    margin-bottom: 5px;
}

.training-taglist {
    overflow: hidden;
    zoom: 1;
}

.training-taglist li {
    margin: 0px 10px;
    float: left;
    background: url(../images/018.png) no-repeat scroll 0px 6px;
    padding-left: 6px;
    margin-bottom: 2px;
}

.section-left-container .training-taglist {
    margin-top: 10px;
}

.section-left-container .training-taglist li {
    padding-left: 8px;
}

.section-left-container .training-taglist a {
    font-size: 14px;
}

.seller-item-list {
    overflow: hidden;
    zoom: 1;
}

.seller-item-list em {
    color: #EA491B;
    font-style: normal;
}

.seller-item-list li {
    float: left;
    width: 123px;
    font-size: 12px;
    text-align: center;
}

.seller-item-list li p, .seller-item-list li div {
    text-indent: 0px;
    text-align: center;
}

.seller-item-list div a:link, .seller-item-list div a:visited {
    text-decoration: underline;
    color: #055296;
}

.seller-item-list a:link, .seller-item-list a:visited {
    font-size: 12px;
}

.column-630 .seller-item-list  {
    clear: both;
    margin: 15px auto;
}

.column-630 .click-ranking {
    clear: both;
    margin: 0px auto;
    padding-left: 10px;
}

.click-ranking {
    overflow: hidden;
    zoom: 1;
}

.click-ranking h4 , .click-ranking .ranking {
    float: left;
}

.click-ranking h4 {
    height: 71px;
    width: 20px;
    background: url(../images/019.png) no-repeat top left;
    overflow: hidden;
    text-indent: -999em;
    margin-right: 5px;
}

.click-ranking .ranking {
    border: 1px solid #d4d4d4;
    width: 140px;
    height: 71px;
    margin-right: 2px;
}

.click-ranking .ranking ul {
    background: url(../images/020.png) no-repeat top left;
    margin: 2px auto;
    width: 124px;
    height: 66px;
    overflow: hidden;
}

.click-ranking .ranking li {
    width: 120px;
    height: 22px;
    line-height: 22px;
    background: url(../images/010.png) no-repeat scroll 0px 10px;
    overflow: hidden;
    margin-left: 5px;
}

.click-ranking .ranking a {
    font-size: 12px;
    color: #744825;
    text-decoration: underline;
}

.column-630 .column-2-390, .column-630 .column-2-260 {
    float: left;
    min-height: 100px;
}

.column-2-390 {
    width: 390px;
}

.column-2-260 {
    border: 1px solid #A4CAEF;
    width: 260px;
}

.normal-box {
    padding: 5px;
}

.normal-box .desption-list, .normal-box .two-columns-100 {
    margin: 0px 10px;
}

.normal-box .list-items li {
    margin-bottom: 4px;
}

/*
.section-v2 {
border: 0px;
border-bottom: 1px solid #d4d4d4;
}
 */

.column-2-390 .list-item-big {
    width: 380px;
    margin: 0px;
}

.column-2-390 .list-item-big li {
    width: 380px;
}

.column-630 .thumb-list-1v2 h3 {
    position: relative;
    background: url(../images/025.png) no-repeat scroll 3px 3px;
    padding-left: 25px;
    border-bottom: 1px dotted #d4d4d4;
    color: #f60;
}

.column-630 .thumb-list-1v2 ul {
    margin-top: 10px;
}

.column-630 .thumb-list-1v2 li {
    margin-bottom: 2px;
}

.column-630 .thumb-list-1v2 li a:link, .column-630 .thumb-list-1v2 li a:visited {
    text-decoration: underline;
}

.column-630 .thumb-list-1v2 .date {
    _right: 15px;
}

.release {
    background: url(../images/024.png) no-repeat scroll 0px 0px;
    width:59px;
    height:18px;
    display: block;
    text-indent: -999em;
    overflow: hidden;
}

.column-630 .thumb-list-1v2 h3 .release {
    right: 50px;
}

.column-630 .click-ranking-v2 {
    margin-bottom: 10px;
}

.click-ranking-v2 {
    height: 80px;
}

.click-ranking-v2 h4 {
    background-image: url(../images/023.png);
    height: 80px;
}

.click-ranking-v2 .ranking {
    background: #ECF4FF;
    height: 77px;
    border: 1px solid #A4CAEF;
    padding: 0px;
    overflow: hidden;
    width: 345px;
    position: relative;
}

.click-ranking-v2 .ranking ul {
    position: absolute;
    background: none;
    margin: 0px;
    zoom: 1;
    width: 355px;
    height: 80px;
    top: -1px;
    left: -1px;
}

.click-ranking-v2 .ranking li {
    float: left;
    border-bottom: 1px solid #A4CAEF;
    border-right: 1px solid #A4CAEF;
    background: none;
    width: 86px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    height: 26px;
}

.click-ranking-v2 .ranking a:link, .click-ranking-v2 .ranking a:visited {
    background: none;
    display: block;
    padding: 2px 5px;
    color: #055296;
    text-decoration: underline;
}

.seller-rank-v2 {
    background: url(../images/021.png) no-repeat scroll 0px 3px;
    width: 299px;
    height: 249px;
    overflow: hidden;
}

.seller-rank-v2 li {
    background: none;
    padding-left: 25px;
    line-height: 25px;
}

.seller-rank-v2 li a:link , .seller-rank-v2 li a:visited {
    text-decoration: underline;
}

.section-left-container .seller-rank-v2 {
    margin: 10px;
}

.section-left-container {
    position: relative;
}

.section-left-container .relative-flow {
    margin: 0px auto;
    zoom: 1;
}

.relative-flow {
    width: 245px;
    height: 143px;
    overflow: hidden;
    position: relative;
    background: url(../images/022.png) no-repeat scroll 0px 0px;
}

.relative-flow h4 {
    display: none;
}

.relative-flow ol {
    width: 245px;
    height: 143px;
}

.relative-flow li {
    position: absolute;
    width: 80px;
    height: 30px;
    text-align: center;
    overflow: hidden;
}

.relative-flow a:link, .relative-flow a:visited {
    width: 80px;
    height: 30px;
    overflow: hidden;
    text-indent: -999em;
    line-height: 30px;
    display: block;
    color: #EA491B;
}

.relative-flow .step-1 {
    top: 41px;
    left: 4px;
}
.relative-flow .step-2 {
    top: 41px;
    left: 128px;
}
.relative-flow .step-3 {
    top: 88px;
    left: 4px;
}
.relative-flow .step-4 {
    top: 88px;
    left: 128px;
}
