@import url('header.source.css');
@import url('footer.source.css');

.container {
    width: 916px;
    margin: 0px auto;
}
/* area1 begin */
.area1, .area2, .area3{margin:0px auto;text-align:center;width:916px;margin-top:8px;}
.area1{min-height:460px;}
.area2{min-height:890px;}
.area3{min-height:480px;}

.area1 .leftcon, .area2 .leftcon, .area3 .leftcon{width:255px;float:left;margin-right:14px;min-height:100px;}

.area1 .centercon, .area2 .centercon, .area3 .centercon{width:399px;float:left;margin-right:14px;min-height:100px;}

.area1 .rightcon, .area2 .rightcon, .area3 .rightcon{width:212px;float:left;min-height:100px;padding:10px;border:1px solid #92BCEA;}

.area1 .leftcon .t{width:255px;height:33px;line-height:33px;background:url(../images/index_1.jpg) no-repeat;color:white;text-align:left;}

.area1 .leftcon .t a:link{color:white;}
.area1 .leftcon .t a:visited{color:white;}
.area1 .leftcon .t a:hover{color:white;text-decoration:underline;}

.area1 .leftcon .t h1{float:left;color:white;padding-left:20px;font-size:14px;width:180px;}

.area1 .leftcon .m{width:233px;border-left:1px solid #92BCEA;border-right:1px solid #92BCEA;padding:10px;}

.area1 .leftcon .m .title{width:231px;height:30px;background:#eeeeee;font-size:14px;font-weight:bold;line-height:30px;color:#003F96;text-decoration:underline;}
.area1 .leftcon .m .title a:link{color:#003F96;text-decoration:underline;}
.area1 .leftcon .m .title a:visited{color:#003F96;text-decoration:underline;}
.area1 .leftcon .m .title a:hover{color:#003F96;text-decoration:underline;}
.area1 .leftcon .b{width:233px;border:1px solid #92BCEA;border-top:none;text-align:left;padding:10px;}
.ulstyle1{margin-left:0px;line-height:24px;text-align:left;}
.ulstyle1 li{background:url(../images/007.gif) no-repeat left;padding-left:15px;}
.ulstyle1 li a:link{color:#3f3f3f;text-decoration:underline;}
.ulstyle1 li a:visited{color:#3f3f3f;text-decoration:underline;}
.ulstyle1 li a:hover{color:#F35D0D;text-decoration:underline;}

.ulstyle2{margin-left:0px;line-height:24px;text-align:left;}
.ulstyle2 li{background:url(../images/013.gif) no-repeat left;padding-left:15px;}
.ulstyle2 li a:link{color:#3f3f3f;text-decoration:underline;}
.ulstyle2 li a:visited{color:#3f3f3f;text-decoration:underline;}
.ulstyle2 li a:hover{color:#F35D0D;text-decoration:underline;}

.ulstyle3{margin-bottom:40px;}
.ulstyle3 li{width:60px;height:25px;line-height:25px;float:left;border:1px solid #CCCCCC;margin-left:5px;margin-top:5px;}
.ulstyle3 li a:link{color:black;}
.ulstyle3 li a:visited{color:black;}
.ulstyle3 li a:hover{color:black;}

.dlstyle1{margin-left:0px;line-height:26px;text-align:left;height:260px;}
.dlstyle1 dt{background:url(../images/013.gif) no-repeat left;padding-left:10px;width:330px;float:left;}
.dlstyle1 dt a{font-size:13px;}
.dlstyle1 dt a:link{color:#373737;text-decoration:underline;}
.dlstyle1 dt a:visited{color:#373737;text-decoration:underline;}
.dlstyle1 dt a:hover{color:#F35D0D;text-decoration:underline;}
.dlstyle1 dd{color:#767676;float:right;width:45px;font-size:13px;}

.dlstyle2{line-height:24px;height:230px;}
.dlstyle2 dt{width:130px;float:left;margin-top:20px;}
.dlstyle2 dd{width:130px;float:left;}

.dlstyle3{line-height:24px;height:120px;}
.dlstyle3 dt{width:130px;float:left;margin-top:20px;}
.dlstyle3 dt img{padding:2px;border:1px solid #ABABAB;}
.dlstyle3 dd{width:130px;float:left;}

.dlstyle4{line-height:24px;height:140px;}
.dlstyle4 dt{width:105px;float:left;margin-top:20px;}
.dlstyle4 dt img{padding:2px;border:1px solid #ABABAB;}
.dlstyle4 dd{width:105px;float:left;}
.dlstyle4 dd a:link{color:#013895;}
.dlstyle4 dd a:visited{color:#013895;}
.dlstyle4 dd a:hover{color:#013895;}

.centitle{width:379px;background:url(../images/009.gif) no-repeat left;height:38px;padding-left:20px;border-bottom:1px dashed #A0A0A0;}
.centitle h1{font-size:14px;line-height:38px;text-align:left;color:#FE4502;float:left;width:270px;font-weight:bold;}
.centitle h2{font-size:14px;line-height:38px;text-align:left;color:#FE4502;float:left;width:330px;font-weight:bold;}
.centitle input{float:left;margin-top:10px;}
.centitle a{line-height:38px;}
.centitle a:link{color:#173D86;text-decoration:none;}
.centitle a:visited{color:#173D86;text-decoration:none;}
.centitle a:hover{color:#173D86;text-decoration:underline;}

.righttitle{height:30px;line-height:30px;}
.righttitle h1{text-align:left;font-size:14px;color:#1A66B2;border-bottom:1px solid #89B0D7;background:url(../images/014.gif) no-repeat left;padding-left:15px;float:left;width:160px;}
.righttitle h2{text-align:left;font-size:12px;color:#1A66B2;border-bottom:1px solid #89B0D7;background:url(../images/014.gif) no-repeat left;padding-left:15px;float:left;width:145px;}
.righttitle a{float:left;margin-left:3px;border-bottom:1px solid #89B0D7;}
.righttitle a:link{color:#054FA6;}
.righttitle a:visited{color:#054FA6;}
.righttitle a:hover{color:#054FA6;}

.firstcon{width:377px;padding:10px;border:1px solid #DEDEDE;margin-top:10px;color:#737373;text-align:left;background:#F8F8F8;}
.firstcon h2{font-size:16px;text-align:center;color:#EE4607;font-weight:bold;}
.firstcon a:link{color:#FE4502;text-decoration:none;}
.firstcon a:visited{color:#FE4502;text-decoration:none;}
.firstcon a:hover{color:#FE4502;text-decoration:underline;}


/* area1 end */

/* area2 begin */
.area2 .leftcon .t, .area3 .leftcon .t{width:255px;height:33px;line-height:33px;background:url(../images/index_1.jpg) no-repeat;color:white;text-align:left;}

.area2 .leftcon .t a:link, .area3 .leftcon .t a:link{color:white;}
.area2 .leftcon .t a:visited, .area3 .leftcon .t a:visited{color:white;}
.area2 .leftcon .t a:hover, .area3 .leftcon .t a:hover{color:white;text-decoration:underline;}

.area2 .leftcon .t h1, .area3 .leftcon .t h1{float:left;color:white;padding-left:20px;font-size:14px;width:180px;}

.area2 .leftcon .b, .area3 .leftcon .b{width:233px;border:1px solid #92BCEA;padding:10px;}
.area2 .leftcon .b img, .area3 .leftcon .b img{padding:5px;border:1px solid #CBCBCB;}

.area2 .leftcon .b .title, .area3 .leftcon .b .title{font-size:14px;font-weight:bold;line-height:30px;color:#003F96;text-decoration:underline;}
.area2 .leftcon .b .title a:link, .area3 .leftcon .b .title a:link{color:#003F96;text-decoration:underline;}
.area2 .leftcon .b .title a:visited, .area3 .leftcon .b .title a:visited{color:#003F96;text-decoration:underline;}
.area2 .leftcon .b .title a:hover, .area3 .leftcon .b .title a:visited{color:#003F96;text-decoration:underline;}

.tabcon{text-align:left;line-height:28px;margin-left:10px;}

.tabcon select{margin-bottom:5px;font-size:12px;}
/* area2 end */
/**
 * 广告
 */
.ad-1{
	margin:7px 0px;
	height:56px;
	overflow:hidden;
}
.ad-4{
	margin:7px 0px;
	height:56px;
	overflow:hidden;
}

/**
 * 招商资讯 播放广告 排行榜
 */

.wrapper-row1{
	width:916px;
	margin:0 auto;
	height:316px;
	overflow:hidden;
}
.wrapper-row1 .zs-left{
	width:253px;
	height:314px;
	overflow:hidden;
	float:left;
	border:1px #BEBEBE solid;
	position:relative;
}
.wrapper-row1 .center{
	width:435px;
	height:316px;
	overflow:hidden;
	float:left;
	background-color:#00CCFF;
	margin-left:7px;
}

.wrapper-row1 .center .c-play{
	height:217px;
	overflow:hidden;
}

.wrapper-row1 .center .c-ad-1 ul{
	height:98px;
	overflow:hidden;
	border-top:#888888 1px dashed;
	padding-top:7px;
	background:url(../images/ico_3.gif) repeat-x;
}

.wrapper-row1 .center .c-ad-1 ul li{
	float:left;
	padding-left:9px;
}

.wrapper-row1 .center .c-ad-1 ul li img{
	padding:3px;
	border:#CFCFD1 1px solid;
}

.wrapper-row1 .hot-good-right{
	width:212px;
	height:316px;
	overflow:hidden;
	float:right;
	position:relative;
}

.wrapper-row1 .hot-good-right p{
	position:absolute;
	top:7px;
	left:175px;
}

.wrapper-row1 .hot-good-right p a{
	color:#FFFFFF;
}

.wrapper-row1 .hot-good-right h3{
	background:url(../images/index_bg.png) -76px 0px no-repeat;
	width:179px;
	height:24px;
	overflow:hidden;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	padding:6px 0px 0px 33px;
}

.wrapper-row1 .hot-good-right ol{
	width:210px;
	height:275px;
	overflow:hidden;
	border-bottom:1px #C1C1C1 solid;
	border-left:1px #C1C1C1 solid;
	border-right:1px #C1C1C1 solid;
	background:url(../images/index_bg.png) no-repeat -677px -31px;
	padding-top:10px;
}

.wrapper-row1 .hot-good-right ol li{
	width:186px;
	height:27px;
	overflow:hidden;
	float:left;
	line-height:27px;
	padding-left:24px;
	position:relative;
}

.wrapper-row1 .hot-good-right ol li span{
	position:absolute;
	top:0px;
	left:175px;
}

.wrapper-row1 .hot-good-right ol li.title-one a,.wrapper-row1 .hot-good-right ol li a{
	color:#FF0000;
	width:140px;
	display:block;
	overflow:hidden;
}
.wrapper-row1 .hot-good-right ol li a{
	color:#232323;
}
.titleff{
color:#FF0000;
}

.wrapper-row1 .zs-left h3{
	width:237px;
	height:33px;
	background:url(../images/index_bg.png) no-repeat -79px -226px;
	margin:0 auto;	
	margin-top:6px;
	color:#093679;
	font-size:12px;
	font-weight:bold;
	text-indent:2em;
	line-height:20px;
}
.wrapper-row1 .zs-left p{
	position:absolute;
	top:9px;
	left:210px;
}

.wrapper-row1 .zs-left ul{
	margin:0 auto;
	width:237px;
}

.wrapper-row1 .zs-left ul li{
	float:left;
	width:227px;
	overflow:hidden;
	line-height:24px;
	background:url(../images/index_bg.png) no-repeat -710px -10px;
	padding-left:10px;
}

.wrapper-row1 .zs-left dl{
	width:237px;
	height:100px;
	overflow:hidden;
	background-color:#F2F2F2;	
	margin:0 auto;
	margin-top:6px;
}

.wrapper-row1 .zs-left dl dt{
	width:150px;
	float:right;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	height:20px;
	overflow:hidden;
	margin-top:10px;
}

.wrapper-row1 .zs-left dl dd.sz-title {
	width:150px;
	float:right;
}

.wrapper-row1 .zs-left dl dd.sz-pic{
	float:left;
	margin-top:12px;
	margin-left:5px;
}

.wrapper-row1 .zs-left dl dd.sz-pic img{
border:#FFFFFF 2px solid;
}

/**
 * 推荐项目 代理商查询
 */
.wrapper-row2{
	width:916px;
	margin:0 auto;
	height:465px;
	overflow:hidden;
}

.wrapper-row2 .elect-item{
	width:697px;
	border:1px #C4C4C4 solid;
	float:left;
	height:463px;
	position:relative;
}

.wrapper-row2 .elect-item .el_bottom{
	width:697px;
	height:12px;
	overflow:hidden;
	background:url(../images/bg_1.gif) no-repeat;
}

.wrapper-row2 .elect-item p{
	position:absolute;
	top:10px;
	left:660px;
}

.wrapper-row2 .elect-item h3{
	background:url(../images/index_bg.png) no-repeat 0px -400px;
	height:28px;
	overflow:hidden;
	width:649px;
	font-size:14px;
	font-weight:bold;
	color:#093478;
	padding:12px 0px 0px 48px;
}

.wrapper-row2 .elect-item ul{
	background:url(../images/invest9181_19.jpg) repeat-y;
	height:411px;
	overflow:hidden;
	padding-left:9px;
}

.wrapper-row2 .elect-item ul li{
	width:123px;
	height:124px;
	overflow:hidden;
	float:left;
	padding:10px 0px 0px 10px;
}

.wrapper-row2 .elect-item ul li a{
	display:block;
}

.wrapper-row2 .elect-item ul li img{
	padding:3px;
	border:1px #CFCFCF solid;
	margin:0px;
}

.wrapper-row2 .elect-item ul li span{
	background-color:#EEEEEE;
	width:123px;
	height:34px;
	overflow:hidden;
	display:block;
	margin:0px;
	padding:0px;
	margin-top:5px;
	text-align:center;
}

.wrapper-row2 .surrogate-search{
	width:207px;
	height:463px;
	overflow:hidden;
	border:1px #C4C4C6 solid;
	float:right;
	position:relative;
}

.wrapper-row2 .surrogate-search h3{
	width:200px;
	background:url(../images/index_bg.png) no-repeat -77px -226px;
	height:30px;
	margin:0 auto;	
	margin-top:3px;
	color:#093679;
	font-size:12px;
	font-weight:bold;
	text-indent:2em;
	line-height:20px;
}

.wrapper-row2 .surrogate-search ul{
	width:200px;
	margin:0 auto;
}

.wrapper-row2 .surrogate-search ul li{
	width:60px;
	heigth:21px;
	overflow:hidden;
	float:left;
	border:#666666 1px solid;
	text-align:center;
	margin-left:2px;
	margin-right:2px;
	margin-top:14px;
}

.wrapper-row2 .surrogate-search p{
	position:absolute;
	top:6px;
	left:170px;	
}

/**
 * 分类招商
 */
.wrapper-row3{
	width:916px;
	margin:7px auto;
	height:286px;
	overflow:hidden;
	clear:both;
}

.wrapper-row3 h3{
	background:url(../images/index_bg.png) no-repeat 0px 0px;
	width:59px;
	height:286px;
	overflow:hidden;
	float:left;
}

.wrapper-row3 .classify{
	width:857px;
	border-top:9px #FF4701 solid;
	border-bottom:1px #FEE5C6 solid;
	float:right;
	height:276px;
	overflow:hidden;
	background:url(../images/fl_dg.gif) no-repeat right 0;
}

.wrapper-row3 .classify ul{
	margin-top:12px;
}

.wrapper-row3 .classify ul li{
	float:left;
	padding-right:8px;
}

.wrapper-row3 .classify ul li .col1{
	width:205px;
	height:131px;
	overflow:hidden;
}
.wrapper-row3 .classify ul li .col1 h4{
	font-size:14px;
	background:url(../images/index_bg.png) no-repeat -313px -2px;
	width:205px;
	height:22px;
	line-height:22px;
	text-align:center;
}

.wrapper-row3 .classify ul li .col1 ul{
	width:181px;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
}

.wrapper-row3 .classify ul li .col1 ul li{
	width:181px;
	height:24px;
	line-height:24px;
	text-align:center;
	overflow:hidden;
	border:1px #DDDDDD solid;
	float:left;
	margin:2px auto;
}

/**
 * 代理意向 品牌报道 代理风采
 */
.wrapper-row4{
	width:916px;
	margin:0 auto;
	height:338px;
	overflow:hidden;
	clear:both;
}
.wrapper-row4 .col-1{
	width:341px;
	height:336px;
	overflow:hidden;
	border:#BEBEBE 1px solid;
	position:relative;
	float:left;
}
.wrapper-row4 .col-1 p,.wrapper-row4 .col-2 p{
	position:absolute;
	top:10px;
	left:295px;
}
.wrapper-row4 .col-1 ul,.wrapper-row4 .col-2 ul{
	width:305px;
	margin:0 auto;
}
.wrapper-row4 .col-1 ul li,.wrapper-row4 .col-2 ul li{
	float:left;
	padding-left:8px;
	font-size:14px;
	width:297px;
	height:26px;
	line-height:26px;
	overflow:hidden;
	background:url(../images/ico_1.gif) no-repeat 0 11px;
}
.wrapper-row4 .col-1 ul li a,.wrapper-row4 .col-2 ul li a{
	font-size:14px;
}
.wrapper-row4 .col-1 h3{
	width:285px;
	height:32px;
	background:url(../images/index_bg.png) no-repeat -85px -258px;
	overflow:hidden;
	margin:0 auto;
	font-size:14px;
	font-weight:bold;
	color:#083578;
	padding:6px 0 0 20px;
}
.wrapper-row4 .col-2{
	width:349px;
	height:336px;
	overflow:hidden;
	border:#BEBEBE 1px solid;
	float:left;
	margin-left:6px;
	position:relative;
}
.wrapper-row4 .col-2 h3{
	width:298px;
	height:32px;
	background:url(../images/index_bg.png) no-repeat -85px -258px;
	overflow:hidden;
	margin:0 auto;
	font-size:14px;
	font-weight:bold;
	color:#083578;
	padding:6px 0 0 20px;
}
.wrapper-row4 .col-3{
	width:208px;
	height:336px;
	overflow:hidden;
	border:#BEBEBE 1px solid;
	position:relative;
	float:right;
}

.wrapper-row4 .col-3 p{
	position:absolute;
	top:6px;
	left:170px;
}

.wrapper-row4 .col-3 h3{
	width:174px;
	height:33px;
	overflow:hidden;
	background:url(../images/index_bg.png) no-repeat -79px -219px;
	margin:0 auto;
	font-size:14px;
	color:#063678;
	font-weight:bold;
	padding:7px 0 0 28px;
}

.wrapper-row4 .col-3 dl{
	width:202px;
	height:88px;
	overflow:hidden;
	background-color:#F2F2F2;
	margin:0 auto;
	padding-top:12px;
	margin-top:12px;
}
.wrapper-row4 .col-3 dl dd.col3-pic{
	float:left;
	padding-left:6px;
}
.wrapper-row4 .col-3 dl dd.col3-pic img{
	border:#FFFFFF 2px solid;
}
.wrapper-row4 .col-3 dl dt{
	font-weight:bold;
	height:24px;
	line-height:24px;
	width:118px;
	overflow:hidden;
}
.wrapper-row4 .col-3 dl dt,.wrapper-row4 .col-3 dl dd.col3-text{
	float:right;
	width:118px;
}
.wrapper-row4 .col-3 ul{
	width:202px;
	margin:0 auto;
	margin-top:7px;
}
.wrapper-row4 .col-3 ul li{
	float:left;
	line-height:24px;
	height:24px;
	width:192px;
	overflow:hidden;
	background:url(../images/ico_2.gif) no-repeat 3px 12px;
	padding-left:10px;
}
/**
 * 经营故事 经营技巧 近期展会
 */
.wrapper-row5{
	width:916px;
	margin:0 auto;
	height:424px;
	overflow:hidden;
	clear:both;
}

.wrapper-row5 .row5-left{
	width:697px;
	height:422px;
	border:#C4C4C4 1px solid;
	overflow:hidden;
	float:left;
	background:url(../images/invest9181_19.jpg) repeat-y;
}

.wrapper-row5 .row5-left .left-1{
	width:348px;
	float:left;
	position:relative;
}

.wrapper-row5 .row5-left .left-1 ul.left-pic,.wrapper-row5 .row5-left .left-2 ul.left2-pic{
	width:323px;
	height:129px;
	overflow:hidden;
	background:url(../images/index_bg.png) no-repeat -77px -35px;
	margin-top:6px;
	margin-bottom:5px;
	margin-left:14px;
}

.wrapper-row5 .row5-left .left-2 ul.left2-pic{
	margin-left:10px;
}

.wrapper-row5 .row5-left .left-1 ul.left-pic li,.wrapper-row5 .row5-left .left-2 ul.left2-pic li{
	width:137px;
	height:108px;
	overflow:hidden;
	float:left;
	padding-left:17px;
	padding-top:10px;
}

.wrapper-row5 .row5-left .left-1 ul.left-pic li a,.wrapper-row5 .row5-left .left-2 ul.left2-pic li a{
display:block;
}

.wrapper-row5 .row5-left .left-1 ul.left-pic li img,.wrapper-row5 .row5-left .left-2 ul.left2-pic li img{
	padding:3px;
	border:#D0D0D0 1px solid;
}
.wrapper-row5 .row5-left .left-1 ul.left-pic li span,.wrapper-row5 .row5-left .left-2 ul.left2-pic li span{
	background-color:#EEEEEE;
	display:block;
	margin-top:5px;
}

.wrapper-row5 .row5-left .left-1 ul.left-list,.wrapper-row5 .row5-left .left-2 ul.left2-list{
	height:233px;
	width:314px;
	margin-left:20px;
	overflow:hidden;
}
.wrapper-row5 .row5-left .left-2 ul.left2-list{
	margin-left:15px;
}
.wrapper-row5 .row5-left .left-1 ul.left-list li,.wrapper-row5 .row5-left .left-2 ul.left2-list li{
	float:left;
	width:314px;
	height:26px;
	line-height:26px;
	overflow:hidden;
	font-size:14px;
	background:url(../images/ico_1.gif) no-repeat 0 11px;
	padding-left:6px;
}
.wrapper-row5 .row5-left .left-1 ul.left-list li a,.wrapper-row5 .row5-left .left-2 ul.left2-list li a{
	font-size:14px;
}
.wrapper-row5 .row5-left .left-1 .row5-left-bottom{
	height:9px;
	overflow:hidden;
	background:url(../images/index_bg.png) no-repeat 0 -451px;
	width:348px;
}
.wrapper-row5 .row5-left .left-2 .row5-left-bottom{
	height:9px;
	overflow:hidden;
	background:url(../images/index_bg.png) no-repeat -348px -451px;
	width:349px;
}

.wrapper-row5 .row5-left .left-1 p,.wrapper-row5 .row5-left .left-2 p{
	position:absolute;
	top:10px;
	left:310px;
}

.wrapper-row5 .row5-left .left-1 h3{
	height:30px;
	background:url(../images/index_bg.png) no-repeat 0 -350px;
	font-size:14px;
	font-weight:bold;
	color:#083579;
	padding:10px 0 0 46px;	
}

.wrapper-row5 .row5-left .left-2 h3{
	height:30px;
	background:url(../images/index_bg.png) no-repeat -348px -350px;
	font-size:14px;
	font-weight:bold;
	color:#083579;
	padding:10px 0 0 25px;	
}

.wrapper-row5 .row5-left .left-2{
	width:349px;
	float:left;
	position:relative;
}

.wrapper-row5 .row5-right{
	width:209px;
	height:422px;
	border:#C4C4C4 1px solid;
	overflow:hidden;
	float:right;
	position:relative;
}
.wrapper-row5 .row5-right h3{
	width:178px;
	height:32px;
	overflow:hidden;
	margin:0 auto;
	background:url(../images/index_bg.png) no-repeat  -79px -219px;
	font-size:14px;
	color:#063678;
	font-weight:bold;
	padding:7px 0 0 25px;
}
.wrapper-row5 .row5-right p{
	position:absolute;
	top:8px;
	left:170px;
}
.wrapper-row5 .row5-right dl{
	border-bottom:1px #B4B4B4 dashed;
	width:188px;
	margin:0 auto;
	padding-bottom:8px;
	padding-top:5px;
}
.wrapper-row5 .row5-right dl dt{
	width:188px;
	line-height:24px;
	height:24px;
	overflow:hidden;
	font-weight:bold;
	color:#F56502;
}