<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Gracecode.com 静态模板v3</title>
    </head>
    <body>
        <h1>Gracecode.com 静态模板v3</h1>
        <p>版本：$Id$</p>
        <ol>
            <li><a href="001.php?test">列表页</a></li>
            <li><a href="002.php?test">详细页</a></li>
        </ol>
    </body>
</html>
