<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style style="text/css">
            iframe {
                width: 1024px;
                height: 768px;
                margin: 0px auto;
                display: block;
            }
        </style>
    </head>
    <body>
        <iframe src="ppt.html" width="1024" height="768" frameborder="0" scrolling="no"><iframe>
    </body>
</html>
