<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/reset.source.css" />
        <link rel="stylesheet" type="text/css" href="css/chem17.source.css" />
    </head>
    <body>
<div class="header">
    <div class="header-guid">
        <ul class="header-guid-links">
            <li><a href="#">网站推广</a></li>
            <li><a href="#">首页广告</a></li>
            <li><a href="#">关键字广告</a></li>
            <li><a href="#">个性化会员</a></li>
            <li><a href="#">榜上有名</a></li>
            <li class="hot"><a href="#">顶级会员</a></li>
        </ul>
        <ul class="header-guid-register">
            <li><a href="#">买家注册</a></li>
            <li><a href="#">卖家注册</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
</div>
<div class="container container-mingcheng">
    <div class="header">
    <div class="header-logo">
        <h1><a href="#">中国化工仪器网</a></h1>
        <ul class="header-logo-hot">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>

            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>
        <ul class="header-logo-nav">
            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">干燥设备</a></li>

            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">更多设备</a></li>
        </ul>
    </div>
    <div class="header-banner">
        <div class="header-banner-img">
            <a href="#"><img src="sample.png" width="685" height="65" /></a>
        </div>
        <ul class="header-banner-links">
            <li><a href="#">江苏签发首份奥运手法食品</a></li>
            <li><a href="#">三种模式急速首都试解读首都科技</a></li>
            <li><a href="#">劲道放米了记录卡看就大方大</a></li>
        </ul>
    </div>
    <div class="header-search">
        <h3>供求商机</h3>
        <ul class="header-search-relative">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>

        <form action="#" method="get" class="header-search-form">
            <input type="text" value="输入关键字" />
            <select>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
            </select>
            <button>搜索</button>
        </form>

        <div class="header-search-hot">
            <h4>热门求购：</h4>
            <ul>
                <li><a href="#">公司库</a></li>
                <li><a href="#">展会</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">人才</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="section" style="border: none; height: 304px; position:relative; overflow:hidden; border-bottom: 1px solid #A4CAEF;">
        <div class="column column-260">
    <div style="border: 1px solid rgb(164, 202, 239); width: 258px;" class="column column-260">
        <h4 class="section-title section-title-bg2">企业新闻<a href="#"><span>更多</span></a></h4>
        <div class="normal-box">
            <div class="thumb-desption-75">
                <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                <div class="desp">
                    <h4><a target="_blank" href="#">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
            <ul class="list-items list-items-v3 list-items-v3-back" style="margin-top: 0px;">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>

                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630" style="width: 656px;">
    <div class="column-two column-two-offer column-two-offer-v2" style="border-left: 0px;">
        <div class="thumb-list-1" style="border-right: 0px; width: 327px;">
            <h4 class="tab-view"><span class="title">按产品分类浏览</span><a class="more" href="#"><span>更多</span></a></h3>
            <dl class="category-broswer">
                                <dt><a href="#">按产品分类浏览</a></dt>

                <dd>
                <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产浏览</span></a> | <a href="#"><span>按产览</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产浏览</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产类浏览</span></a> | <a href="#"><span>按产</span></a></dd>
                                <dt><a href="#">按产品分类浏览</a></dt>

                <dd>
                <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产浏览</span></a> | <a href="#"><span>按产览</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产浏览</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产类浏览</span></a> | <a href="#"><span>按产</span></a></dd>
                                <dt><a href="#">按产品分类浏览</a></dt>
                <dd>
                <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产品分</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产浏览</span></a> | <a href="#"><span>按产览</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产浏览</span></a> | <a href="#"><span>按产</span></a> | <a href="#"><span>按产类浏览</span></a> | <a href="#"><span>按产</span></a></dd>
                            </dl>
        </div>
        <div class="thumb-list-1" style="width: 328px;">
            <h4 class="tab-view"><span class="title" style="margin-left: 45px; _margin-left: 25px;">按地区浏览</span><a class="more" href="#"><span>更多</span></a></h3>
            <ul class="area-list" style="padding-top: 15px;">
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                                <li><a href="#"><span>浙江</span></a></li>
                            </ul>
        </div>
    </div>
</div>
    </div>
    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>

    <div class="section" style="height: 355px;overflow: hidden; position: relative;border:0;  border-bottom: 1px solid #A4CAEF;">
        <div class="column column-260">
    <div style="border: 1px solid rgb(164, 202, 239); width: 258px;" class="column column-260">
        <h4 class="section-title  section-title-bg2">最新加盟<a href="#"><span>更多</span></a></h4>
        <div class="normal-box">
            <ul class="list-items list-items-v3 list-items-v3-back">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630">
    <div style="" class="column-two column-two-offer"  style="border: none; width: 655px;">
        <div class="thumb-list-1" style="width: 655px; border-bottom: 1px solid #A4CAEF;">
            <h4 class="tab-view tab-view-v2 tab-view-v3" style="width: 655px;"><span class="title">推荐企业</span><a href="#" class="more"><span>更多</span></a></h4>
            <ul class="company-logo-list">
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                            </ul>
        </div>
    </div>
</div>
    </div>

    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>

    <div class="section" style="height: 625px;;">
        <div class="column column-260" style="width:258px;">
    <h4 class="section-title">企业家风采<a href="#"><span>更多</span></a></h4>
    <div class="normal-box">
        <div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
        </div>
        <div class="more-persion">
            <ul class="thumb">
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
            </ul>
            <ul class="more-persion-link">
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                            </ul>
        </div>
    </div>
    <h4 class="section-title">企业家风采<a href="#"><span>更多</span></a></h4>
    <div class="normal-box">
        <div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
            <div class="thumb-desption-75 thumb-desption-persion">
                <div class="thumb"><img width="63" height="63" src="sample.png"/></div>
                <div class="desp">
                    <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                </div>
            </div>
        </div>
        <div class="more-persion">
            <ul class="thumb">
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
                <li><a href="#"><img width="48" height="48" src="sample.png"/><span>赵明城</span></a></li>
            </ul>
            <ul class="more-persion-link">
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                                <li><a href="#"><span>赵明城</span></a></li>
                            </ul>
        </div>
    </div>
</div>
<div class="column column-630">
        <div class="column-two column-two-offer" style="width:655px;border-top: 0px;border-right:0px;">
        <div class="thumb-list-1" style="height: 312px; width: 327px;">
            <h3>畅销图书<a href="#"><span>更多</span></a></h3>
            <div class="normal-box">
                <div class="thumb-desption-75" style="margin-left: 15px;">
                    <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
            </div>
            <ul class="list-items list-item-big">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
        <div class="thumb-list-1" style="border-right: 0px;">
            <h3>推荐期刊<a href="#"><span>更多</span></a></h3>
            <div class="normal-box">
                <div class="thumb-desption-75" style="margin-left: 15px;">
                    <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
            </div>
            <ul class="list-items list-item-big">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
    </div>
        <div class="column-two column-two-offer" style="width:655px;">
        <div class="thumb-list-1" style="height: 312px; width: 327px;">
            <h3>畅销图书<a href="#"><span>更多</span></a></h3>
            <div class="normal-box">
                <div class="thumb-desption-75" style="margin-left: 15px;">
                    <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
            </div>
            <ul class="list-items list-item-big">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
        <div class="thumb-list-1" style="border-right: 0px;">
            <h3>推荐期刊<a href="#"><span>更多</span></a></h3>
            <div class="normal-box">
                <div class="thumb-desption-75" style="margin-left: 15px;">
                    <div class="thumb"><img width="75" height="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
            </div>
            <ul class="list-items list-item-big">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
    </div>
    </div>
    </div>

    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>

    <div style="border-top: 0px none; border-right: 0px none;" class="section section-v2">
        <div style="overflow: hidden; height: 437px; position: relative;" class="column column-260">
    <h4 class="section-title section-title-bg2" style=" border-right: 1px solid #d4d4d4;">案例教训<a href="#"><span>更多</span></a></h4>
    <div style="border-right: 1px solid #d4d4d4; width: 258px;">
        <div style="height: 411px; margin-right: 0px; border-left-width: 0px; border-top-width: 0px; border-right-width: 0px;" class="section-left-container">
            <div class="normal-box">
                <div class="thumb-desption-75 thumb-news-big">
                    <div class="thumb"><img width="215" height="130" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意些要注意的问题，的问.问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
                <ul style="margin-top: 0px; zoom: 1;" class="list-items list-items-v3 list-items-v3-back">
                    <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                    <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                    <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                    <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="height: 439px; width: 655px;" class="column column-630">
    <div class="column-2-390">
        <div class="thumb-list-1 thumb-list-1v2">
            <h3>名企动态<a href="#"><span>更多</span></a></h3>
            <div class="news-big-title">
                <h2><a href="#">全国高血压日的来历是怎样的？</a></h2>
                <p>国产Linux就是以开源之名，行盗版之实。<a class="more" href="#">[详细]</a></p>
                </p>
            </div>
            <ul class="list-items list-item-big" style="width: 370px; *margin-top: 0px; zoom: 1; position:relative;">
                                <li><a target="_blank" href="#">中国航天日是哪一天？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a><span class="date">07-09</span></li>
                                <li><a target="_blank" href="#">中国航天日是哪一天？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a><span class="date">07-09</span></li>
                <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a><span class="date">07-09</span></li>
                            </ul>
        </div>
    </div>
    <div style="width: 263px;" class="column-2-260">
        <div class="blue-items">
            <h4>明通推荐<a href="#"><span>更多</span></a></h4>
            <div class="normal-box">
                <div class="two-columns-100 big-news-image-165">
                    <p>
                    <img width="165" height="120" src="sample.png"/>
                    <a target="_blank" href="#">什么是的“蓝筹股</a>
                    </p>
                </div>
                <ul class="list-items">
                    <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                    <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>
    <div class="footer">
    <div class="footer-links">
        <ul>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                    </ul>
    </div>
    <div class="footer-copyright">
        <a href="#">中国化工仪器网</a>
        Copyright 2003-2008 chem17.com,all rights reserved
        <br/>
        广告咨询:0571-87858616,87858619;客户服务:0571-87858618,展会合作:0571-87858617;采购咨询:0571-87756389,87756390;
        <br/>
        传真:0571-87756374,87169507,87756393;邮箱:ask%chem17.net(请将%改成@) 
    </div>
</div>
</div>
    </body>
</html>
