<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>化工仪器网静态模板</title>
    </head>
    <body>
        <h1>化工仪器网静态模板</h1>
        <p>版本：$Id: index.html 497 2008-10-04 18:36:37Z i.feelinglucky $</p>
        <ol>
            <li><a href="mockup/IMG_001.jpg">原型</a> <a href="001.php">001.php</a></li>
            <li><a href="mockup/IMG_002.jpg">原型</a> <a href="002.php">002.php</a></li>
            <li><a href="mockup/IMG_003.jpg">原型</a> <a href="003.php">003.php</a></li>
            <li><a href="mockup/IMG_004.jpg">原型</a> <a href="004.php">004.php</a></li>
            <li><a href="mockup/IMG_005.jpg">原型</a> <a href="005.php">005.php</a></li>
        </ol>
    </body>
</html>
