<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/reset.source.css" />
        <link rel="stylesheet" type="text/css" href="css/invest.source.css" />
    </head>
    <body>
	
	
	<div class="header">
    <div class="header-guid">
        <ul class="header-guid-links">
            <li><a href="#">网站推广</a> |</li>
            <li><a href="#">首页广告</a> |</li>
            <li><a href="#">关键字广告</a> |</li>
            <li><a href="#">个性化会员</a> |</li>
            <li><a href="#">榜上有名</a> |</li>
            <li class="hot"><a href="#">顶级会员</a></li>
        </ul>
        <ul class="header-guid-register">
            <li><a href="#">买家注册</a></li>
            <li><a href="#">卖家注册</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
</div>


<div class="container">
<div class="header">
    <div class="header-logo">
        <h1><a href="#">中国化工仪器网</a></h1>
        <ul class="header-logo-hot">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>

            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>
        <ul class="header-logo-nav">
            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">干燥设备</a></li>

            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li class="hot"><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">更多设备</a></li>
        </ul>
    </div>
    <div class="header-banner">
        <div class="header-banner-img">
            <a href="#"><img
                src="http://pics.taobaocdn.com/bao/album/b2cpromotion/hjlz_080912_950x40.png"
                width="685" height="65" /></a>
        </div>
        <ul class="header-banner-links">
            <li><a href="#">江苏签发首份奥运手法食品</a></li>
            <li><a href="#">三种模式急速首都试解读首都科技</a></li>
            <li><a href="#">劲道放米了记录卡看就大方大</a></li>
        </ul>
    </div>
    <div class="header-search">
        <h3>行业展会</h3>
        <ul class="header-search-relative">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>

        <form action="#" method="get" class="header-search-form">
            <input type="text" value="输入关键字" />
            <select>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
            </select>
            <button>搜索</button>
        </form>

        <div class="header-search-hot">
            <h4>热门求购：</h4>
            <ul>
                <li><a href="#">公司库</a></li>
                <li><a href="#">展会</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">人才</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper-row1">
	<div class="zs-left">
		<h3>招商资讯</h3>
		<dl>
			<dt>世世友地板总裁板总裁总裁</dt>
			<dd class="sz-pic"><img src="images/invest9181_3.jpg" /></dd>           
			<dd class="sz-title">江苏签发首份奥运食品检测检测江苏签发首份奥运食品检测检测</dd>
		</dl>
		<ul>
			<li><a href="#">江苏签发首份奥运食品检测检测报告</a></li>
			<li><a href="#">江苏签发首份奥运食品检测检测报告</a></li>
			<li><a href="#">江苏签发首份奥运食品检测检测报告</a></li>
			<li><a href="#">江苏签发首份奥运食品检测检测报告</a></li>
			<li><a href="#">江苏签发首份奥运食品检测检测报告</a></li>
			<li><a href="#">江苏签发首份奥运食品检测检测报告</a></li>
			<li><a href="#">江苏签发首份奥运食品检测检测报告</a></li>
		</ul>
		<p><a href="">更多</a></p>
	</div>
	<div class="center">
		<div class="c-play">			
		</div>
		<div class="c-ad-1">
			<uL>
				<li><a href=""><img src="images/invest9181_7.jpg" /></a></li>
				<li><a href=""><img src="images/invest9181_7.jpg" /></a></li>
			</uL>
		</div>
	</div>
	<div class="hot-good-right">
		<h3>排行榜</h3>
		<ol>
			<li class="title-one"><a href="">[美国HIS涂料全国诚招涂料全国诚招涂料全国诚招]</a><span class="titleff">2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
			<li><a href="">[美国HIS涂料全国诚招]</a><span>2045</span></li>
		</ol>
		<p><a href="">更多</a></p>
	</div>
</div>

<div class="ad-1"><img src="images/invest9181_11.jpg" /></div>

<div class="wrapper-row2">
	<div class="elect-item">
    	<h3>推荐项目</h3>
        <ul>
        	<li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
            <li><a href=""><img src="images/invest9181_15.jpg" /><span>无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文无标题文</span></a></li>
        </ul>
        <p><a href="">|更多</a></p>
		<div class="el_bottom"></div>
    </div>
    <div class="surrogate-search">
    	<h3>代理商查询</h3>
        	<ul>
            	<li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
				<li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
				<li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
                <li><a href="#">标 题</a></li>
            </ul>
        <p><a href="#">|更多</a></p>
    </div>
</div>

<div class="wrapper-row3">
	<h3></h3>
    <div class="classify">
    	<ul>
        	<li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
            <li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
            <li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
            <li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
            <li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
            <li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
			<li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
			<li>
            	<div class="col1">
                	<h4>【器械类招商】</h4>
                    <ul class="text-1">
                    	<li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标题文无标题文无标题</a></li>
                        <li><a href="">无文无标题文无标</a></li>
                    </ul>
                    <p class="c-1"></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper-row4">
	<div class="col-1">
    	<h3>代理意向</h3>
        <ul>
        	<li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
        </ul>
        <p><a href="#">更多</a></p>
    </div>
    <div class="col-2">
    	<h3>品牌报道</h3>
        <ul>
        	<li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
        </ul>
        <p><a href="#">更多</a></p>
    </div>
    <div class="col-3">
    	<h3>代理风采</h3>
        <dl>
        	<dt>无文无标题文无标题文无标题</dt>
            <dd class="col3-pic"><img src="images/invest9181_3.jpg" /></dd>
            <dd class="col3-text">无文无标题文无标题文无标题</dd>
        </dl>
        <ul>
        	<li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
            <li><a href="#">无文无标题文无标题文无标题</a></li>
        </ul>
        <p><a href="#">|更多</a></p>
    </div>
</div>

<div class="ad-4"><img src="images/invest9181_11.jpg" /></div>

<div class="wrapper-row5">
	<div class="row5-left">
    	<div class="left-1">
        	<h3>经营故事</h3>
            <ul class="left-pic">
				<li><a href=""><img src="images/invest9181_23.jpg" /><span>无文无标题文无标题文无标题</span></a></li>
				<li><a href=""><img src="images/invest9181_23.jpg" /><span>无文无标题文无标题文无标题</span></a></li>
            </ul>
			<ul class="left-list">
				<li><a href="#">无文无标题文无标题文无标题无文无标题文无标题文无标题无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
			</ul>
			<p><a href="">|更多</a></p> 
			<div class="row5-left-bottom"></div>        
        </div>
        <div class="left-2">
			<h3>经营技巧</h3>
            <ul class="left2-pic">
				<li><a href=""><img src="images/invest9181_23.jpg" /><span>无文无标题文无标题文无标题</span></a></li>
				<li><a href=""><img src="images/invest9181_23.jpg" /><span>无文无标题文无标题文无标题</span></a></li>
            </ul>
			<ul class="left2-list">
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
				<li><a href="#">无文无标题文无标题文无标题</a></li>
			</ul> 
			<p><a href="">|更多</a></p> 
			<div class="row5-left-bottom"></div>       	
        </div>
    </div>
    <div class="row5-right">
		<h3>近期展会</h3>
		<dl>
			<dt>第四届山东中小企业暨项目投融</dt>
			<dd>举办时间：2008年10月10日-12日</dd>
			<dd>举办地点：济南舜国际会展中心</dd>
			<dd>举办时间：详谈</dd>
		</dl>
		<dl>
			<dt>第四届山东中小企业暨项目投融</dt>
			<dd>举办时间：2008年10月10日-12日</dd>
			<dd>举办地点：济南舜国际会展中心</dd>
			<dd>举办时间：详谈</dd>
		</dl>
		<dl>
			<dt>第四届山东中小企业暨项目投融</dt>
			<dd>举办时间：2008年10月10日-12日</dd>
			<dd>举办地点：济南舜国际会展中心</dd>
			<dd>举办时间：详谈</dd>
		</dl>
		<dl>
			<dt>第四届山东中小企业暨项目投融</dt>
			<dd>举办时间：2008年10月10日-12日</dd>
			<dd>举办地点：济南舜国际会展中心</dd>
			<dd>举办时间：详谈</dd>
		</dl>
		<p><a href="">|更多</a></p>
    </div>
</div>

<div class="footer">
<div class="t"><a href="#">关于我们</a> | <a href="#">网站导航</a> | <a href="#">本站服务</a> | <a href="#">榜上有名会员</a> | <a href="#">网站建设</a> | <a href="#">网站推广</a> | <a href="#">网站广告</a> | <a href="#">《仪器视窗》期刊</a> | <a href="#">友情链接</a> | <a href="#">诚聘英才</a></div>
<div class="b">
中国化工仪器网 Copyright 2003-2008 chem17.com,all rights reserved <br />
广告咨询:0571-87858619,87858616;客户服务:0571-87858618,展会合作:0571-87858617;采购咨询:0571-87756389,87756390;<br />
传真:0571-87756374,87169507,87756393;邮箱:ask%chem17.net(请将%改成@)
</div>
</div>
    </body>
</html>
