<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/resetmt.source.css" />
        <link rel="stylesheet" type="text/css" href="css/chem17.source.css" />
    </head>
    <body>
<div class="header">
    <div class="header-guid">
        <ul class="header-guid-links">
            <li><a href="#">网站推广</a></li>
            <li><a href="#">首页广告</a></li>
            <li><a href="#">关键字广告</a></li>
            <li><a href="#">个性化会员</a></li>
            <li><a href="#">榜上有名</a></li>
            <li class="hot"><a href="#">顶级会员</a></li>
        </ul>
        <ul class="header-guid-register">
            <li><a href="#">买家注册</a></li>
            <li><a href="#">卖家注册</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="header">
    <div class="header-logo">
        <h1><a href="#">中国化工仪器网</a></h1>
        <ul class="header-logo-hot">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>

            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>
        <ul class="header-logo-nav">
            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">干燥设备</a></li>

            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">更多设备</a></li>
        </ul>
    </div>
    <div class="header-banner">
        <div class="header-banner-img">
            <a href="#"><img src="sample.png" width="685" height="65" /></a>
        </div>
        <ul class="header-banner-links">
            <li><a href="#">江苏签发首份奥运手法食品</a></li>
            <li><a href="#">三种模式急速首都试解读首都科技</a></li>
            <li><a href="#">劲道放米了记录卡看就大方大</a></li>
        </ul>
    </div>
    <div class="header-search">
        <h3>供求商机</h3>
        <ul class="header-search-relative">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>

        <form action="#" method="get" class="header-search-form">
            <input type="text" value="输入关键字" />
            <select>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
            </select>
            <button>搜索</button>
        </form>

        <div class="header-search-hot">
            <h4>热门求购：</h4>
            <ul>
                <li><a href="#">公司库</a></li>
                <li><a href="#">展会</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">人才</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="section section-style-1" style="position: relative; overflow: hidden;">
        <div class="section-left">
    <h4 class="section-title" style="border-right: 1px solid #d4d4d4">操作维修<a href="#">| 更多</a></h4>
    <div class="section-left-container">
        <div class="section-links-guid">
            <p class="banner"><img src="sample.png" width="205" height="110" /></p>
            <ul class="list-items">
                                <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                                <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                            </ul>
        </div>
        <div class="section-hot-manual">
            <h4>热/点/维/修/手/册</h4>
            <ul class="list-items">
                <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="section-right" style="position: relative;">
    <div class="column column-left">
                <div class="thumb-list-1 mingheng-last" style="width: 301px;zoom: 1; _position: relative; _left: 1px; border-right: 1px solid #d4d4d4">
            <h3>分析方法<a href="#"><span>更多</span></a></h3>
            <div class="desption">
                <div class="thumb"><img src="sample.png" width="75" height="75" /></div>
                <div class="desp">
                    <h4><a target="_blank" href="#">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，“寒露”有注意的问题...
                    <a href="#">[详细]</a></p>
                </div>
            </div>
            <ul>
                <li>类目 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li>类目 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li>类目 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li>类目 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
                <div class="thumb-list-1">
            <h3>分析方法<a href="#"><span>更多</span></a></h3>
            <div class="desption">
                <div class="thumb"><img src="sample.png" width="75" height="75" /></div>
                <div class="desp">
                    <h4><a target="_blank" href="#">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，“寒露”有注意的问题...
                    <a href="#">[详细]</a></p>
                </div>
            </div>
            <ul>
                <li>类目 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li>类目 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li>类目 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li>类目 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
            </div>
    <div class="column column-right">
                <div class="thumb-list-1 mingheng-last" style="width: 311px; _width: 310px;">
            <h3>分析方法<a href="#"><span>更多</span></a></h3>
            <div class="desption">
                <div class="thumb"><img src="sample.png" width="75" height="75" /></div>
                <div class="desp">
                    <h4><a target="_blank" href="#">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，“寒露”有注意的问题...
                    <a href="#">[详细]</a></p>
                </div>
            </div>
            <ul>
                <li>类目 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li>类目 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li>类目 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li>类目 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
                <div class="thumb-list-1">
            <h3>分析方法<a href="#"><span>更多</span></a></h3>
            <div class="desption">
                <div class="thumb"><img src="sample.png" width="75" height="75" /></div>
                <div class="desp">
                    <h4><a target="_blank" href="#">中国航天日是哪一天</a></h4>
                    <p>“寒露”有哪些要注意的问题，“寒露”有注意的问题...
                    <a href="#">[详细]</a></p>
                </div>
            </div>
            <ul>
                <li>类目 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li>类目 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li>类目 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li>类目 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                <li>类目 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
            </div>
</div>
<div class="clear"></div>
        <div class="section-style-2">
    <div class="section-left">
        <div class="section-left-container">
                        <div class="blue-items">
                <h4>技术前言<a href="#"><span>更多</span></a></h4>
                <ul class="list-items">
                    <li><a href="" target="_blank">中国航天日是哪一天？</a></li>
                    <li><a href="" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li><a href="" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li><a href="" target="_blank">全国高血压日的来历是怎样的？</a></li>
                </ul>
                <div class="two-thumbs">
                    <p><img src="sample.png" width="100" height="80" /></p>
                    <p><img src="sample.png" width="100" height="80" /></p>
                </div>
            </div>
                        <div class="blue-items">
                <h4>技术前言<a href="#"><span>更多</span></a></h4>
                <ul class="list-items">
                    <li><a href="" target="_blank">中国航天日是哪一天？</a></li>
                    <li><a href="" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li><a href="" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li><a href="" target="_blank">全国高血压日的来历是怎样的？</a></li>
                </ul>
                <div class="two-thumbs">
                    <p><img src="sample.png" width="100" height="80" /></p>
                    <p><img src="sample.png" width="100" height="80" /></p>
                </div>
            </div>
                    </div>
    </div>
    <div class="section-right style-right-v2">
        <div class="thumb-list-1">
            <h3>分析方法<a href="#"><span>更多</span></a></h3>
            <div class="small-section">
                <div class="desption-v2">
                    <div class="thumb"><img width="95" height="95" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <h5>案例汇总</h5>
                        <div>
                            <ul>
                                <li><a href="" target="_blank">些要注意题</a></li>
                                <li><a href="" target="_blank">些要</a></li>
                                <li><a href="" target="_blank">注意</a></li>
                                <li><a href="" target="_blank">意的</a></li>
                                <li><a href="" target="_blank">些要注意</a></li>
                                <li><a href="" target="_blank">些要</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="list-items list-item-big">
                    <li><a href="" target="_blank">中国航天日是哪一天？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">什么是股市中的“蓝筹股”？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">乘火车卧铺时为什么要换票？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">全国高血压日的来历是怎样的？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a><span class="date">（04-18）</span></li>
                    <li><a href="" target="_blank">“寒露”有哪些要注意的问题？</a><span class="date">（04-18）</span></li>
                </ul>
            </div>
        </div>
        <div class="thumb-list-1" style="*margin-top: -15px;">
            <h3>技术文献<a href="#"><span>更多</span></a></h3>
            <div class="small-section two-thumbs">
                <ul class="list-items list-item-big" style="margin-right: 10px;">
                    <li>方法 |<a href="" target="_blank">中国航天日是哪一天？</a></li>
                    <li>方法 |<a href="" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li>方法 |<a href="" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                    <li>方法 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a href="" target="_blank">全国高血压日的来历是怎样的？</a></li>
                    <li>方法 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                </ul>
                <ul class="list-items list-item-big">
                    <li>标准 |<a href="" target="_blank">中国航天日是哪一天？</a></li>
                    <li>标准 |<a href="" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li>标准 |<a href="" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                    <li>标准 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a href="" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>
    <div class="section section-style-1 section-style-3" style="height: 740px; position: relative; border-bottom: 1px solid #d4d4d4;">
    <div class="section-left">
        <h4 class="section-title">最新企业<a href="#">| 更多</a></h4>
        <div class="section-left-container section-left-container2" style="height: 710px;">
            <ul class="list-items list-items-style2">
                <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
            </ul>
            <div class="active-group">
                <h4>活跃度排行</h4>
                <ul class="list-items">
                    <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                    <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                </ul>
            </div>

            <div class="blue-items yellow-items">
                <h4>技术中心<a href="#"><span>更多</span></a></h4>
                <div class="thumb-desption-75">
                    <div class="thumb"><img height="75" width="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪的问题，注意的问题...<a href="#">[详细]</a></p>
                    </div>
                </div>
                <ul class="list-items">
                    <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                </ul>
            </div>
            <div class="blue-items yellow-items">
                <h4>维修手册<a href="#"><span>更多</span></a></h4>
                <div class="thumb-desption-75">
                    <div class="thumb"><img height="75" width="75" src="sample.png"/></div>
                    <div class="desp">
                        <h4><a href="#" target="_blank">中国航天日是哪一天</a></h4>
                        <p>“寒露”有哪些要注意的问题，的问...<a href="#">[详细]</a></p>
                    </div>
                </div>
                <ul class="list-items">
                    <li><a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li><a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li><a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li><a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-right style-right-v2 style-right-v3" style="height: 740px;">
        <div style="" class="thumb-list-1">
            <h3>宣传样本<a href="#"><span>更多</span></a></h3>
            <div class="small-section two-thumbs">
                <div class="small-section-small-list-thumb">
                    <div class="two-thumbs">
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                    </div>
                    <div class="two-thumbs">
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                        <div class="sample-thumb"><a href=""><img
                                height="90" width="130"
                                src="sample.png"/></a>
                            <p><a href="#">中国航天天<br />中中国航天日是哪一天</a></p>
                        </div>
                    </div>
                </div>

                <ul style="margin-right: 10px;" class="list-items list-item-big">
                    <li>方法 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li>方法 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                    <li>方法 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                </ul>
                <ul class="list-items list-item-big">
                    <li>标准 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                    <li>标准 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                    <li>标准 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    <li>标准 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                </ul>
            </div>
        </div>
        <div class="column-2">
            <div style="" class="thumb-list-1">
                <h3>整数奖状<a href="#"><span>更多</span></a></h3>
                <div class="small-section two-thumbs">
                    <div class="two-thumbs">
                        <p><img height="100" width="110" src="sample.png"/></p>
                        <p><img height="100" width="110" src="sample.png"/></p>
                    </div>
                    <ul style="margin-right: 10px;" class="list-items list-item-big">
                        <li>方法 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                        <li>方法 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                        <li>方法 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                        <li>方法 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    </ul>
                </div>
            </div>

            <div style="" class="thumb-list-1">
                <h3>报价目录<a href="#"><span>更多</span></a></h3>
                <div class="small-section two-thumbs">
                    <div class="two-thumbs">
                        <p><img height="100" width="110" src="sample.png"/></p>
                        <p><img height="100" width="110" src="sample.png"/></p>
                    </div>
                    <ul class="list-items list-item-big">
                        <li>方法 |<a target="_blank" href="">中国航天日是哪一天？</a></li>
                        <li>方法 |<a target="_blank" href="">什么是股市中的“蓝筹股”？</a></li>
                        <li>方法 |<a target="_blank" href="">乘火车卧铺时为什么要换票？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                        <li>方法 |<a target="_blank" href="">全国高血压日的来历是怎样的？</a></li>
                        <li>方法 |<a target="_blank" href="">“寒露”有哪些要注意的问题？</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>
    <div class="footer">
    <div class="footer-links">
        <ul>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                    </ul>
    </div>
    <div class="footer-copyright">
        <a href="#">中国化工仪器网</a>
        Copyright 2003-2008 chem17.com,all rights reserved
        <br/>
        广告咨询:0571-87858616,87858619;客户服务:0571-87858618,展会合作:0571-87858617;采购咨询:0571-87756389,87756390;
        <br/>
        传真:0571-87756374,87169507,87756393;邮箱:ask%chem17.net(请将%改成@) 
    </div>
</div>
</div>
    </body>
</html>
