<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/reset.source.css" />
        <link rel="stylesheet" type="text/css" href="css/chem17.source.css" />
    </head>
    <body>
<div class="header">
    <div class="header-guid">
        <ul class="header-guid-links">
            <li><a href="#">网站推广</a></li>
            <li><a href="#">首页广告</a></li>
            <li><a href="#">关键字广告</a></li>
            <li><a href="#">个性化会员</a></li>
            <li><a href="#">榜上有名</a></li>
            <li class="hot"><a href="#">顶级会员</a></li>
        </ul>
        <ul class="header-guid-register">
            <li><a href="#">买家注册</a></li>
            <li><a href="#">卖家注册</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
</div>
<div class="container container-mingcheng">
    <div class="header">
    <div class="header-logo">
        <h1><a href="#">中国化工仪器网</a></h1>
        <ul class="header-logo-hot">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>

            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>
        <ul class="header-logo-nav">
            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">干燥设备</a></li>

            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">更多设备</a></li>
        </ul>
    </div>
    <div class="header-banner">
        <div class="header-banner-img">
            <a href="#"><img src="sample.png" width="685" height="65" /></a>
        </div>
        <ul class="header-banner-links">
            <li><a href="#">江苏签发首份奥运手法食品</a></li>
            <li><a href="#">三种模式急速首都试解读首都科技</a></li>
            <li><a href="#">劲道放米了记录卡看就大方大</a></li>
        </ul>
    </div>
    <div class="header-search">
        <h3>供求商机</h3>
        <ul class="header-search-relative">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>

        <form action="#" method="get" class="header-search-form">
            <input type="text" value="输入关键字" />
            <select>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
            </select>
            <button>搜索</button>
        </form>

        <div class="header-search-hot">
            <h4>热门求购：</h4>
            <ul>
                <li><a href="#">公司库</a></li>
                <li><a href="#">展会</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">人才</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="section">
        <div class="column column-260">
    <h4 class="section-title">操作维修<a href="#"><span>更多</span></a></h4>
    <div style="position: relative; top: -5px; height: 335px; *height: 331px;">
        <div class="section-left-container training-review">
            <h4><a href="#">现成的需求，就是很多从 Editplus 转</a></h4>
            <p class="thumb"><img src="sample.png" width="75" height="75" /></p>
            <p class="desption">这里有个现就是很多Editplus 转过，想让 Vim 有从文件的功能。那么，这篇文章你们想要的。<a href="#">[详细]</a> </p>
        </div>
        <div class="clear"></div>
        <div class="section-left-container">
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="section-left-container">
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630">
    <div class="column-two" style="height: 362px; *height: 358px;">
        <div class="thumb-list-1">
            <h3>推荐讲座<a href="#"><span>更多</span></a></h3>
            <h4 class="training-notice"><span><a href="#">如需要本人亲自动手，可酌情考虑先支付本人医保以及半年工资</a></span></h4>
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
        <div class="thumb-list-1">
            <h3>推荐讲座<a href="#"><span>更多</span></a></h3>
            <h4 class="training-notice"><span><a href="#">如需要本人亲自动手，可酌情考虑先支付本人医保以及半年工资</a></span></h4>
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
                <div class="column column-260" style="_margin-top: -8px; margin-bottom: -10px;">
            <div class="section-left-container" style="height: 665px; *height: 670px;">
                <div class="blue-items">
                    <h4>市场研究<a href="#"><span>更多</span></a></h4>
                    <div class="training-review">
                        <h4><a href="#">现成的需求，就是很多从 Editplus 转</a></h4>
                        <p class="thumb"><img width="75" height="75" src="sample.png"/></p>
                        <p class="desption">这里有个现就是很多Editplus 转过，想让 Vim 有从文件的功能。那么，这篇文章你们想要的。<a href="#">[详细]</a> </p>
                    </div>
                    <ul class="desption-list">
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                        <li>类目|<a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                    </ul>
                </div>
                <div class="blue-items">
                    <h4>测试中心<a href="#"><span>更多</span></a></h4>
                    <div class="training-review">
                        <h4><a href="#">现成的需求，就是很多从 Editplus 转</a></h4>
                        <p class="thumb"><img width="75" height="75" src="sample.png"/></p>
                        <p class="desption">这里有个现就是很多Editplus 转过，想让 Vim 有从文件的功能。那么，这篇文章你们想要的。<a href="#">[详细]</a> </p>
                    </div>
                    <ul class="desption-list">
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                        <li>类目|<a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                    </ul>
                </div>
                <div class="blue-items">
                    <h4>培训机构<a href="#"><span>更多</span></a></h4>
                    <ul class="desption-list">
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                        <li>类目|<a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="column column-630" style="height: 667px; *height: 664px; _margin-top: -8px;">
            <div style="border-top: 1px solid #d4d4d4;" class="column-two">
                <div class="thumb-list-1" style="margin-left: 10px;">
                    <h3>推荐讲座<a href="#"><span>更多</span></a></h3>
                    <div class="two-columns-100">
                        <p>
                        <img src="sample.png" width="100" height="100" />
                        <a target="_blank" href="#">什么是股市中的“股”</a>
                        </p>
                        <p>
                        <img src="sample.png" width="100" height="100" />
                        <a target="_blank" href="#">什么是股市中的“蓝筹股</a>
                        </p>
                    </div>
                    <ul class="desption-list">
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>

                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>

                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                        <li>类目|<a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                    </ul>
                </div>
                <div class="thumb-list-1">
                    <h3>推荐讲座<a href="#"><span>更多</span></a></h3>
                    <div class="two-columns-100">
                        <p>
                        <img src="sample.png" width="100" height="100" />
                        <a target="_blank" href="#">什么是股市中的“股”</a>
                        </p>
                        <p>
                        <img src="sample.png" width="100" height="100" />
                        <a target="_blank" href="#">什么是股市中的“蓝筹股</a>
                        </p>
                    </div>
                    <ul class="desption-list">
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>

                        <li>类目|<a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>

                        <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                        <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                        <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                    </ul>
                </div>

                <div class="thumb-list-1" style="clear: both; width:95%">
                    <h3>培训班<a href="#"><span>更多</span></a></h3>
                    <table class="table-training-list">
                        <colgroup>
                            <col width="200" />
                            <col width="200" />
                            <col width="100" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th><span>培训课程</span></th>
                                <th><span>培训单位</span></th>
                                <th><span>培训日期</span></th>
                            </tr>
                        </thead>
                        <tbody>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                        <tr>
                                <td><a href="#">全国高血压日的来历是怎样的</a></td>
                                <td>中国移动科技有限公司</td>
                                <td class="date">2008/12/12</td>
                            </tr>
                                                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>
    <div class="section">
        <div class="column column-260" style="margin-bottom: -11px;">
    <h4 class="section-title section-title-red">本期好书<a href="#"><span>更多</span></a></h4>
    <div class="section-left-container section-left-container2" style="height: 1020px; *height: 1015px; position: relative; top: -5px;">
        <div class="blue-items yellow-items flash-guid">
            <div class="flash"><img src="sample.png" width="210" height="260" /></div>
            <p><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></p>
        </div>

        <div class="blue-items yellow-items">
            <h4>分类浏览<a href="#"><span>更多</span></a></h4>
            <ul class="training-taglist">
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                                <li><a target="_blank" href="#">国高血</a></li>
                <li><a target="_blank" href="#">国高血压</a></li>
                            </ul>
        </div>

        <div class="blue-items yellow-items">
            <h4>文章导读<a href="#"><span>更多</span></a></h4>
            <div class="training-review">
                <h4><a href="#">现成的需求，就是很多从 Editplus 转</a></h4>
                <p class="thumb"><img width="75" height="75" src="sample.png"/></p>
                <p class="desption">这里有个现就是很多Editplus 转过，想让 Vim 有从文件的功能。那么，这篇文章你们想要的。<a href="#">[详细]</a> </p>
            </div>

            <ul class="desption-list">
                <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
            </ul>
            <div class="clear"></div>

            <ul class="desption-list">
                <li>类目|<a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630" style="height: 1045px;">
    <div class="column-two" style="border-top: 1px solid rgb(212, 212, 212);">
        <div style="clear: both; width: 95%;" class="thumb-list-1">
            <h3>最新推荐<a href="#"><span>更多</span></a></h3>
            <ul class="seller-item-list">
                                <li>
                <p><a href="#"><img height="140" width="100" src="sample.png"/></a></p>
                <div><a target="_blank" href="#">什么是股市中的股</a></div>
                <p>定价：<em>￥45.00 </em></p>
                </li>
                                <li>
                <p><a href="#"><img height="140" width="100" src="sample.png"/></a></p>
                <div><a target="_blank" href="#">什么是股市中的股</a></div>
                <p>定价：<em>￥45.00 </em></p>
                </li>
                                <li>
                <p><a href="#"><img height="140" width="100" src="sample.png"/></a></p>
                <div><a target="_blank" href="#">什么是股市中的股</a></div>
                <p>定价：<em>￥45.00 </em></p>
                </li>
                                <li>
                <p><a href="#"><img height="140" width="100" src="sample.png"/></a></p>
                <div><a target="_blank" href="#">什么是股市中的股</a></div>
                <p>定价：<em>￥45.00 </em></p>
                </li>
                                <li>
                <p><a href="#"><img height="140" width="100" src="sample.png"/></a></p>
                <div><a target="_blank" href="#">什么是股市中的股</a></div>
                <p>定价：<em>￥45.00 </em></p>
                </li>
                            </ul>

            <div class="click-ranking">
                <h4>点击排行</h4>
                                <div class="ranking">
                    <ul>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                    </ul>
                </div>
                                <div class="ranking">
                    <ul>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                    </ul>
                </div>
                                <div class="ranking">
                    <ul>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                    </ul>
                </div>
                                <div class="ranking">
                    <ul>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                        <li><a href="#" target="_blank">什么是股市中的蓝筹股？</a></li>
                    </ul>
                </div>
                            </div>
        </div>
        <div style="clear: both; width: 95%;" class="thumb-list-1">
            <h3>精品图书<a href="#"><span>更多</span></a></h3>
            <table class="table-training-list">
                <colgroup>
                    <col width="200"/>
                    <col width="200"/>
                    <col width="100"/>
                </colgroup>
                <thead>
                    <tr>
                        <th><span>培训课程</span></th>
                        <th><span>培训单位</span></th>
                        <th><span>培训日期</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                    <tr>
                        <td><a href="#">全国高血压日的来历是怎样的</a></td>
                        <td>中国移动科技有限公司</td>
                        <td class="date">2008/12/12</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-left: 10px;" class="thumb-list-1">
            <h3>畅销图书<a href="#"><span>更多</span></a></h3>
            <div class="two-columns-100">
                <p>
                <img height="140" width="100" src="sample.png"/>
                <a href="#" target="_blank">什么是股市中的“股”</a>
                </p>
                <p>
                <img height="140" width="100" src="sample.png"/>
                <a href="#" target="_blank">什么是股市中的“蓝筹股</a>
                </p>
            </div>
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>

                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>

                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
        <div class="thumb-list-1">
            <h3>推荐期刊<a href="#"><span>更多</span></a></h3>
            <div class="two-columns-100">
                <p>
                <img height="140" width="100" src="sample.png"/>
                <a href="#" target="_blank">什么是股市中的“股”</a>
                </p>
                <p>
                <img height="140" width="100" src="sample.png"/>
                <a href="#" target="_blank">什么是股市中的“蓝筹股</a>
                </p>
            </div>
            <ul class="desption-list">
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>

                <li>类目|<a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>

                <li>类目|<a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li>类目|<a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li>类目|<a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
            </ul>
        </div>
    </div>
</div>
    </div>
    <div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /><span>公司连接</span></a></div>
</div>
    <div class="footer">
    <div class="footer-links">
        <ul>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                        <li><a href="#">我是连接</a></li>
                    </ul>
    </div>
    <div class="footer-copyright">
        <a href="#">中国化工仪器网</a>
        Copyright 2003-2008 chem17.com,all rights reserved
        <br/>
        广告咨询:0571-87858616,87858619;客户服务:0571-87858618,展会合作:0571-87858617;采购咨询:0571-87756389,87756390;
        <br/>
        传真:0571-87756374,87169507,87756393;邮箱:ask%chem17.net(请将%改成@) 
    </div>
</div>
</div>
    </body>
</html>
