<ul class="nav">
    <li><a title="查看 Linux 分类" href="#">Linux</a></li>
    <li><a title="查看 Vim 分类" href="#">Vim</a></li>
    <li><a title="查看 U.E Design 分类" href="#">U.E Design</a></li>
    <li class="current"><a title="查看 PHP 分类" href="#">PHP</a></li>
    <li><a title="查看 数据库 分类" href="#">数据库</a></li>
    <li><a title="查看 CSS 分类" href="#">CSS</a></li>
    <li><a title="查看 奇技淫巧 分类" href="#">奇技淫巧</a></li>
    <li><a title="查看 Javascript 分类" href="#">Javascript</a></li>
    <li><a title="查看 软件 分类" href="#">软件</a></li>
    <li><a title="查看 观点 分类" href="#">观点</a></li>
    <li><a title="查看 我的生活 分类" href="#">我的生活</a></li>
    <li><a title="注意，此地少儿不宜" href="#">实验室</a></li>
</ul>
<div class="lighter" style="width: 100px; left: 269px;"></div>
