<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>company</title>
        <link rel="stylesheet" type="text/css" href="css/reset.source.css" />
        <link rel="stylesheet" type="text/css" href="css/company.source.css" />
    </head>
    <body>
	
	
	<div class="header">
    <div class="header-guid">
        <ul class="header-guid-links">
            <li><a href="#">网站推广</a> |</li>
            <li><a href="#">首页广告</a> |</li>
            <li><a href="#">关键字广告</a> |</li>
            <li><a href="#">个性化会员</a> |</li>
            <li><a href="#">榜上有名</a> |</li>
            <li class="hot"><a href="#">顶级会员</a></li>
        </ul>
        <ul class="header-guid-register">
            <li><a href="#">买家注册</a></li>
            <li><a href="#">卖家注册</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
</div>


<div class="container">
<div class="header">
    <div class="header-logo">
        <h1><a href="#">中国化工仪器网</a></h1>
        <ul class="header-logo-hot">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>

            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>
        <ul class="header-logo-nav">
            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">干燥设备</a></li>

            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li class="hot"><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">更多设备</a></li>
        </ul>
    </div>
    <div class="header-banner">
        <div class="header-banner-img">
            <a href="#"><img
                src="http://pics.taobaocdn.com/bao/album/b2cpromotion/hjlz_080912_950x40.png"
                width="685" height="65" /></a>
        </div>
        <ul class="header-banner-links">
            <li><a href="#">江苏签发首份奥运手法食品</a></li>
            <li><a href="#">三种模式急速首都试解读首都科技</a></li>
            <li><a href="#">劲道放米了记录卡看就大方大</a></li>
        </ul>
    </div>
    <div class="header-search">
        <h3>公司库</h3>
        <ul class="header-search-relative">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>

        <form action="#" method="get" class="header-search-form">
            <input type="text" value="输入关键字" />
            <select>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
            </select>
            <button>搜索</button>
        </form>

        <div class="header-search-hot">
            <h4>热门求购：</h4>
            <ul>
                <li><a href="#">公司库</a></li>
                <li><a href="#">展会</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">人才</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="area1">
<div class="l">
<div class="lefttitle">
<h1>企业新闻</h1>
<a href="#">| 更多</a>
</div>
<div class="leftcon">
<dl class="dlstyle1">
<dt><a href="#"><img src="images/big/023.gif" border="0" /></a></dt>
<dd><h2><a href="#">敢死队风格各个</a></h2></dd>
<dd>敢死队风格士大夫告诉敢死队风敢死队风敢死队风敢死队风格士大夫感...<a href="#">[详细]</a></dd>
</dl>

<ul class="ulstyle2">
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻上看上各个</a></li>
<li><a href="#">搞活深刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐干上各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
</ul>
</div>

</div>
<div class="c">
<div class="righttitle2">
<h1>按产品分类浏览</h1>
<a href="#">| 更多</a>
</div>
<div class="rightcon2">
<dl class="dlstyle8">
<dt>生物识别技术产品</dt>
<dd><a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | </dd>
<dt>生物识别技术产品</dt>
<dd><a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | </dd>
<dt>生物识别技术产品</dt>
<dd><a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | </dd>
<dt>生物识别技术产品</dt>
<dd><a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | <a href="#">指纹识别设备</a> | </dd>
</dl>

</div>
</div>
<div class="r">
<div class="righttitle3">
<h1>按地区浏览</h1>
<a href="#">| 更多</a>
</div>
<div class="rightcon3">
<dl class="dlstyle9">
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
<dd><a href="#">上海</a></dd>
</dl>
</div>

</div>

</div>

<div class="adverzone1"><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a></div>
<div class="area2">
<div class="l">
<div class="lefttitle">
<h1>最新加盟</h1>
<a href="#">| 更多</a>
</div>
<div class="leftcon">

<ul class="ulstyle2">
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻上看上各个</a></li>
<li><a href="#">搞活深刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐干上各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
<li><a href="#">搞活深刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐干上各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
</ul>
</div>

</div>
<div class="r">
<div class="righttitle">
<h1>推荐企业</h1>
<a href="#">| 更多</a>
</div>
<div class="rightcon">
<dl class="dlstyle6">
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>

<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dt><a href="#"><img src="images/big/028.gif" /></a></dt>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>
<dd><a href="#">感到风格</a></dd>

</dl>
</div>
</div>
</div>

<div class="adverzone1"><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a></div>
<div class="area3">
<div class="l">
<div class="lefttitle">
<h1>企业家风采</h1>
<a href="#">| 更多</a>
</div>
<div class="leftcon">
<dl class="dlstyle3">
<dt><a href="#"><img src="images/big/025.gif" border="0"/></a></dt>
<dd><h2><a href="#">敢死队风格各个</a></h2></dd>
<dd>敢死队风格士大夫告诉敢死队风敢风格士大夫感...<a href="#">[详细]</a></dd>
</dl>

<dl class="dlstyle3">
<dt><a href="#"><img src="images/big/025.gif" border="0"/></a></dt>
<dd><h2><a href="#">敢死队风格各个</a></h2></dd>
<dd>敢死队风格士大夫告诉敢死队风敢风格士大夫感...<a href="#">[详细]</a></dd>
</dl>

<dl class="dlstyle4">
<dt><a href="#"><img src="images/big/026.gif" border="0" /></a></dt>
<dt><a href="#"><img src="images/big/026.gif" border="0" /></a></dt>
<dt><a href="#"><img src="images/big/026.gif" border="0" /></a></dt>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
</dl>
<dl class="dlstyle5">
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
</dl>

</div>

</div>
<div class="c">
<div class="righttitle1">
<h1>代理商</h1>
<a href="#">| 更多</a>
</div>
<div class="rightcon1">
<dl class="dlstyle7">
<dt><a href="#"><img src="images/big/030.gif" border="0"/></a></dt>
<dd><h1><a href="#">告诉风格广泛</a></h1></dd>
<dd>敢死队风格士大上敢死队风格士大格士大上敢死队风格士大夫感上敢死队风格士大夫<a href="#">[详细]</a></dd>
</dl>

<ul class="ulstyle3">
<li><a href="#">搞活深刻豆刻上上看上上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻刻上上看上上看上各个</a></li>
<li><a href="#">搞活深刻上上看上刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐刻上上看上干上各个</a></li>
<li><a href="#">搞活深刻豆上上刻上上看上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上刻上上看上看上看各个</a></li>
</ul>
</div>


</div>
<div class="r">
<div class="righttitle1">
<h1>代理商</h1>
<a href="#">| 更多</a>
</div>
<div class="rightcon1">
<dl class="dlstyle7">
<dt><a href="#"><img src="images/big/030.gif" border="0"/></a></dt>
<dd><h1><a href="#">告诉风格广泛</a></h1></dd>
<dd>敢死队风格士大上敢死队风格士大格士大上敢死队风格士大夫感上敢死队风格士大夫<a href="#">[详细]</a></dd>
</dl>

<ul class="ulstyle3">
<li><a href="#">搞活深刻豆刻上上看上上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻刻上上看上上看上各个</a></li>
<li><a href="#">搞活深刻上上看上刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐刻上上看上干上各个</a></li>
<li><a href="#">搞活深刻豆上上刻上上看上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上刻上上看上看上看各个</a></li>
</ul>
</div>
</div>

</div>

<div class="area4">
<div class="l">
<div class="lefttitle">
<h1>行业精英</h1>
<a href="#">| 更多</a>
</div>
<div class="leftcon">
<dl class="dlstyle3">
<dt><a href="#"><img src="images/big/025.gif" border="0"/></a></dt>
<dd><h2><a href="#">敢死队风格各个</a></h2></dd>
<dd>敢死队风格士大夫告诉敢死队风敢风格士大夫感...<a href="#">[详细]</a></dd>
</dl>

<dl class="dlstyle3">
<dt><a href="#"><img src="images/big/025.gif" border="0"/></a></dt>
<dd><h2><a href="#">敢死队风格各个</a></h2></dd>
<dd>敢死队风格士大夫告诉敢死队风敢风格士大夫感...<a href="#">[详细]</a></dd>
</dl>

<dl class="dlstyle4">
<dt><a href="#"><img src="images/big/026.gif" border="0" /></a></dt>
<dt><a href="#"><img src="images/big/026.gif" border="0" /></a></dt>
<dt><a href="#"><img src="images/big/026.gif" border="0" /></a></dt>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
</dl>
<dl class="dlstyle5">
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
<dd><a href="#">黑糊糊</a></dd>
</dl>

</div>

</div>
<div class="c">

<div class="righttitle1">
<h1>代理商</h1>
<a href="#">| 更多</a>
</div>
<div class="rightcon1">
<dl class="dlstyle7">
<dt><a href="#"><img src="images/big/030.gif" border="0"/></a></dt>
<dd><h1><a href="#">告诉风格广泛</a></h1></dd>
<dd>敢死队风格士大上敢死队风格士大格士大上敢死队风格士大夫感上敢死队风格士大夫<a href="#">[详细]</a></dd>
</dl>

<ul class="ulstyle3">
<li><a href="#">搞活深刻豆刻上上看上上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻刻上上看上上看上各个</a></li>
<li><a href="#">搞活深刻上上看上刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐刻上上看上干上各个</a></li>
<li><a href="#">搞活深刻豆上上刻上上看上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上刻上上看上看上看各个</a></li>
</ul>
</div>
</div>
<div class="r">
<div class="righttitle1">
<h1>代理商</h1>
<a href="#">| 更多</a>
</div>
<div class="rightcon1">
<dl class="dlstyle7">
<dt><a href="#"><img src="images/big/030.gif" border="0"/></a></dt>
<dd><h1><a href="#">告诉风格广泛</a></h1></dd>
<dd>敢死队风格士大上敢死队风格士大格士大上敢死队风格士大夫感上敢死队风格士大夫<a href="#">[详细]</a></dd>
</dl>

<ul class="ulstyle3">
<li><a href="#">搞活深刻豆刻上上看上上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻刻上上看上上看上各个</a></li>
<li><a href="#">搞活深刻上上看上刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐刻上上看上干上各个</a></li>
<li><a href="#">搞活深刻豆上上刻上上看上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上刻上上看上看上看各个</a></li>
</ul>
</div>

</div>
</div>

<div class="adverzone1"><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a></div>
<div class="area5">
<div class="l">
<div class="lefttitle">
<h1>企业新闻</h1>
<a href="#">| 更多</a>
</div>
<div class="leftcon">
<dl class="dlstyle2">
<dt><a href="#"><img src="images/big/024.gif" border="0" /></a></dt>
<dd><h2><a href="#">敢死队风格各个</a></h2></dd>
<dd>敢死队风格士大夫告诉敢死队风敢死队风敢死队风敢死队风格士大夫感...<a href="#">[详细]</a></dd>
</dl>

<ul class="ulstyle2">
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻上看上各个</a></li>
<li><a href="#">搞活深刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐干上各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
</ul>
</div>


</div>
<div class="c">
<div class="righttitle4">
<h1>名企动态</h1>
<a href="#">| 更多</a>
</div>
<div class="firstcon">
<h1>十分告诉反对感高速钢</h1>
敢死队风格士大夫感告诉反对告诉反对感<a href="#">[详情]</a>
</div>
<dl class="dlstyle10">
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上好看上看上各个</a></dt><dd>07-23</dd>
</dl>

</div>
<div class="r">
<div class="righttitle5">
<h1>行业媒体</h1>
<a href="#">| 更多</a>
</div>
<dl class="dlstyle11">
<dt><a href="#"><img src="images/big/36.gif" border="0"/></a></dt>
<dd><a href="#">告诉风格士大夫敢死队</a></dd>

</dl>
<ul class="ulstyle2">
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻上看上各个</a></li>
<li><a href="#">搞活深刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐干上各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
</ul>
</div>
</div>

<div class="adverzone1"><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a></div>
</div>

<div class="footer">
<div class="t"><a href="#">关于我们</a> | <a href="#">网站导航</a> | <a href="#">本站服务</a> | <a href="#">榜上有名会员</a> | <a href="#">网站建设</a> | <a href="#">网站推广</a> | <a href="#">网站广告</a> | <a href="#">《仪器视窗》期刊</a> | <a href="#">友情链接</a> | <a href="#">诚聘英才</a></div>
<div class="b">
中国化工仪器网 Copyright 2003-2008 chem17.com,all rights reserved <br />
广告咨询:0571-87858619,87858616;客户服务:0571-87858618,展会合作:0571-87858617;采购咨询:0571-87756389,87756390;<br />
传真:0571-87756374,87169507,87756393;邮箱:ask%chem17.net(请将%改成@)
</div>
</div>
    </body>
</html>
