<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>exhibition</title>
        <link rel="stylesheet" type="text/css" href="css/reset.source.css" />
        <link rel="stylesheet" type="text/css" href="css/exhibition.source.css" />
    </head>
    <body>
	
	
	<div class="header">
    <div class="header-guid">
        <ul class="header-guid-links">
            <li><a href="#">网站推广</a> |</li>
            <li><a href="#">首页广告</a> |</li>
            <li><a href="#">关键字广告</a> |</li>
            <li><a href="#">个性化会员</a> |</li>
            <li><a href="#">榜上有名</a> |</li>
            <li class="hot"><a href="#">顶级会员</a></li>
        </ul>
        <ul class="header-guid-register">
            <li><a href="#">买家注册</a></li>
            <li><a href="#">卖家注册</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
</div>


<div class="container">
<div class="header">
    <div class="header-logo">
        <h1><a href="#">中国化工仪器网</a></h1>
        <ul class="header-logo-hot">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>

            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>
        <ul class="header-logo-nav">
            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">干燥设备</a></li>

            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li class="hot"><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">更多设备</a></li>
        </ul>
    </div>
    <div class="header-banner">
        <div class="header-banner-img">
            <a href="#"><img
                src="http://pics.taobaocdn.com/bao/album/b2cpromotion/hjlz_080912_950x40.png"
                width="685" height="65" /></a>
        </div>
        <ul class="header-banner-links">
            <li><a href="#">江苏签发首份奥运手法食品</a></li>
            <li><a href="#">三种模式急速首都试解读首都科技</a></li>
            <li><a href="#">劲道放米了记录卡看就大方大</a></li>
        </ul>
    </div>
    <div class="header-search">
        <h3>行业展会</h3>
        <ul class="header-search-relative">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>

        <form action="#" method="get" class="header-search-form">
            <input type="text" value="输入关键字" />
            <select>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
            </select>
            <button>搜索</button>
        </form>

        <div class="header-search-hot">
            <h4>热门求购：</h4>
            <ul>
                <li><a href="#">公司库</a></li>
                <li><a href="#">展会</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">人才</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="area1">
<div class="leftcon">
<div class="t"><h1>展会聚焦</h1><a href="#">| 更多</a></div>
<div class="m">
<img src="images/big/index_2.jpg" />
<div class="title"><a href="#">赶快世界观还世界观还是</a></div>
</div>
<div><img src="images/big/index_3.jpg" /></div>
<div class="b">
<ul class="ulstyle1">
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
</ul>
</div>
</div>
<div class="centercon">
<div class="centitle">
<h1>最新展会</h1>
<input type="image" src="images/big/010.gif" />
<a href="#">| 更多</a>
</div>
<div class="firstcon">
<h2>2008第五届广东技术产品及警用装备博览会</h2>
大连分析测试仪器及实验室展览会的胜利召开，更为大连分析仪器行业
发展注入了一股强势的力量，在上届海口技术展会尽显大将风..<a href="#">[详细]</a>
</div>
<dl class="dlstyle1">
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上好看上看上各个</a></dt><dd>07-23</dd>
</dl>

</div>
<div class="rightcon">
<div class="righttitle">
<h1>展会报道</h1>
<a href="#">| 更多</a>
</div>
<dl class="dlstyle4">
<dt><a href="#"><img src="images/big/015.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/015.gif" border="0"/></a></dt>
<dd><a href="#">敢死队风格士感</a></dd>
<dd><a href="#">敢士大夫感</a></dd>
</dl>
<ul class="ulstyle2">
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻上看上各个</a></li>
<li><a href="#">搞活深刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐干上各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
<li><a href="#">搞活深刻豆上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上各个</a></li>
</ul>


</div>
</div>
<div class="adverzone1"><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a></div>
<div class="area2">
<div class="leftcon">
<div class="t"><h1>参展指南</h1><a href="#">| 更多</a></div>
<div class="b">
<img src="images/big/index_5.jpg" />
<div class="title"><a href="#">赶快世界观还世界观还是</a></div>
<ul class="ulstyle2">
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
</ul>

</div>
<div class="t"><h1>展览公司名录</h1><a href="#">| 更多</a></div>
<div class="b">
<ul class="ulstyle1">
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
</ul>

</div>
</div>
<div class="centercon">
<div class="centitle">
<h1>推荐展会</h1>
<input type="image" src="images/big/010.gif" />
<a href="#">| 更多</a>
</div>
<dl class="dlstyle1">
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
</dl>

<div class="centitle">
<h1>国内展会</h1>
<input type="image" src="images/big/010.gif" />
<a href="#">| 更多</a>
</div>
<dl class="dlstyle1">
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
</dl>

<div class="centitle">
<h1>国际展会</h1>
<input type="image" src="images/big/010.gif" />
<a href="#">| 更多</a>
</div>
<dl class="dlstyle1">
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看好看上看上各个</a></dt><dd>07-23</dd>
<dt><a href="#">搞活深刻豆腐干好看上看上各个干好看上看上各个</a></dt><dd>07-23</dd>
</dl>

</div>
<div class="rightcon">

<div class="righttitle">
<h1>展会搜索</h1>
<a href="#">| 更多</a>
</div>
<div class="tabcon">
关键字（名称、地址等）<br />
<input type="text" size="15"/><br />
展览起讫时间:<br />
<select name="">
  <option>06年</option>
  <option>07年</option>
  <option>08年</option>
</select>
<select name="">
  <option>01月</option>
  <option>02月</option>
  <option>03月</option>
</select>
<select name="">
  <option>05日</option>
  <option>06日</option>
  <option>07日</option>
</select><br />
<select name="">
  <option>06年</option>
  <option>07年</option>
  <option>08年</option>
</select>
<select name="">
  <option>01月</option>
  <option>02月</option>
  <option>03月</option>
</select>
<select name="">
  <option>05日</option>
  <option>06日</option>
  <option>07日</option>
</select><br />
排序顺序<br />
<select name="">
  <option>顺序</option>
  <option>倒序</option>
</select><br />
类别：<input name="" type="radio" value="" checked="checked" />国内<input name="" type="radio" value="" />国际<br />
<input type="image" src="images/big/016.gif"/> <input type="image" src="images/big/017.gif"/>
</div>

<div class="righttitle">
<h2>按月份检索</h2>
<a href="#"><< 更多</a>
</div>
<ul class="ulstyle3">
<li><a href="#">一月</a></li>
<li><a href="#">二月</a></li>
<li><a href="#">三月</a></li>
<li><a href="#">四月</a></li>
<li><a href="#">五月</a></li>
<li><a href="#">六月</a></li>
<li><a href="#">七月</a></li>
<li><a href="#">八月</a></li>
<li><a href="#">九月</a></li>
<li><a href="#">十月</a></li>
<li><a href="#">十一月</a></li>
<li><a href="#">十二月</a></li>
</ul>

<div class="righttitle">
<h2>按地区检索</h2>
<a href="#"> << 更多 </a>
</div>
<ul class="ulstyle3">
<li><a href="#">全国</a></li>
<li><a href="#">北京</a></li>
<li><a href="#">上海</a></li>
<li><a href="#">浙江</a></li>
<li><a href="#">广东</a></li>
<li><a href="#">江苏</a></li>
<li><a href="#">全国</a></li>
<li><a href="#">北京</a></li>
<li><a href="#">上海</a></li>
<li><a href="#">浙江</a></li>
<li><a href="#">广东</a></li>
<li><a href="#">江苏</a></li>
<li><a href="#">全国</a></li>
<li><a href="#">北京</a></li>
<li><a href="#">上海</a></li>
<li><a href="#">浙江</a></li>
<li><a href="#">广东</a></li>
<li><a href="#">江苏</a></li>
<li><a href="#">全国</a></li>
<li><a href="#">北京</a></li>
<li><a href="#">上海</a></li>
<li><a href="#">浙江</a></li>
<li><a href="#">广东</a></li>
<li><a href="#">江苏</a></li>
<li><a href="#">全国</a></li>
<li><a href="#">北京</a></li>
<li><a href="#">上海</a></li>
<li><a href="#">浙江</a></li>
<li><a href="#">广东</a></li>
<li><a href="#">江苏</a></li>
<li><a href="#">全国</a></li>
<li><a href="#">北京</a></li>
<li><a href="#">上海</a></li>
<li><a href="#">浙江</a></li>
<li><a href="#">广东</a></li>
<li><a href="#">江苏</a></li>
</ul>

</div>
</div>
<div class="adverzone1"><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a></div>
<div class="area3">
<div class="leftcon">
<div class="t"><h1>参展指南</h1><a href="#">| 更多</a></div>
<div class="b">
<img src="images/big/index_5.jpg" />
<div class="title"><a href="#">赶快世界观还世界观还是</a></div>
<ul class="ulstyle2">
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上各个</a></li>
<li><a href="#">搞活深刻豆腐干好看上看上看上各个</a></li>
</ul>

</div>
</div>
<div class="centercon">
<div class="centitle">
<h2>品牌推荐</h2>
<a href="#">| 更多</a>
</div>
<dl class="dlstyle2">
<dt><a href="#"><img src="images/big/011.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/011.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/011.gif" border="0"/></a></dt>
<dd><a href="#">敢死队风格士大夫感</a></dd>
<dd><a href="#">敢死队风格士大夫感</a></dd>
<dd><a href="#">敢死队风格士大夫感</a></dd>
<dt><a href="#"><img src="images/big/011.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/011.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/011.gif" border="0"/></a></dt>
<dd><a href="#">敢死队风格士大夫感</a></dd>
<dd><a href="#">敢死队风格士大夫感</a></dd>
<dd><a href="#">敢死队风格士大夫感</a></dd>
</dl>


<div class="centitle">
<h2>品牌推荐</h2>
<a href="#">| 更多</a>
</div>
<dl class="dlstyle3">
<dt><a href="#"><img src="images/big/012.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/012.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/012.gif" border="0"/></a></dt>
<dd><a href="#">敢死队风格士大夫感</a></dd>
<dd><a href="#">敢死队风格士大夫感</a></dd>
<dd><a href="#">敢死队风格士大夫感</a></dd>
</dl>

</div>
<div class="rightcon">
<div class="righttitle">
<h1>参展须知</h1>
<a href="#">| 更多</a>
</div>
<dl class="dlstyle4">
<dt><a href="#"><img src="images/big/015.gif" border="0"/></a></dt>
<dt><a href="#"><img src="images/big/015.gif" border="0"/></a></dt>
<dd><a href="#">敢死队风格士感</a></dd>
<dd><a href="#">敢士大夫感</a></dd>
</dl>
<ul class="ulstyle2">
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上看上各个</a></li>
<li><a href="#">搞活深刻上看上各个</a></li>
<li><a href="#">搞活深刻上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐干上各个</a></li>
<li><a href="#">搞活深刻豆上上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐看上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看各个</a></li>
<li><a href="#">搞活深刻豆上看上各个</a></li>
<li><a href="#">搞活深刻豆腐上看上看上各个</a></li>
<li><a href="#">搞活深刻豆上看上各个</a></li>
</ul>

</div>
</div>
<div class="adverzone1"><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a><a href="#"><img src="images/channel8.gif" border="0"/></a></div>
</div>

<div class="footer">
<div class="t"><a href="#">关于我们</a> | <a href="#">网站导航</a> | <a href="#">本站服务</a> | <a href="#">榜上有名会员</a> | <a href="#">网站建设</a> | <a href="#">网站推广</a> | <a href="#">网站广告</a> | <a href="#">《仪器视窗》期刊</a> | <a href="#">友情链接</a> | <a href="#">诚聘英才</a></div>
<div class="b">
中国化工仪器网 Copyright 2003-2008 chem17.com,all rights reserved <br />
广告咨询:0571-87858619,87858616;客户服务:0571-87858618,展会合作:0571-87858617;采购咨询:0571-87756389,87756390;<br />
传真:0571-87756374,87169507,87756393;邮箱:ask%chem17.net(请将%改成@)
</div>
</div>

    </body>
</html>
