<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>化工仪器网静态模板</title>
    </head>
    <body>
        <h1>化工仪器网静态模板</h1>
        <p>版本：$Id: index.html 497 2008-10-04 18:36:37Z i.feelinglucky $</p>
        <ol>
            <li><a href="mockup/technique.jpg">原型</a> <a href="technique.php">技术中心[已完成]</a></li>
            <li><a href="mockup/training.jpg">原型</a> <a href="training.php">培训中心[已完成]</a></li>
            <li><a href="mockup/news.jpg">原型</a> <a href="news.php">行业资讯</a></li>
            <li><a href="mockup/offer.jpg">原型</a> <a href="offer.php">供求商机[已完成]</a></li>
            <li><a href="mockup/company.jpg">原型</a> <a href="company.php">公司库[已完成]</a></li>
        </ol>
    </body>
</html>
