<div class="column column-260" style="border: 1px solid #A4CAEF; width:258px;">
    <h4 class="section-title">求购排行<a href="#"><span>更多</span></a></h4>
    <div class="normal-box">
        <ul class="list-items list-items-v3">
            <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
            <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
            <li><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
            <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
            <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
            <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
            <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
            <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
            <li><a target="_blank" href="#">中国航天日是哪一天？</a></li>
            <li><a target="_blank" href="#">什么是股市中的“蓝筹股”？</a></li>
            <li><a target="_blank" href="#">乘火车卧铺时为什么要换票？</a></li>
            <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
            <li><a target="_blank" href="#">全国高血压日的来历是怎样的？</a></li>
            <li><a target="_blank" href="#">“寒露”有哪些要注意的问题？</a></li>
        </ul>
    </div>
</div>
<div class="column column-630" style="height: 439px; width: 656px;">
    <div class="column-2-390">
        <div class="thumb-list-1 thumb-list-1v2">
            <h3>最新供应<a href="#"><span>更多</span></a>
                <a href="#" class="release">我要发布</a>
            </h3>
            <ul>
                <?php for($i = 0; $i < 13; $i++) { ?>
                <li>类目 |<a href="#" target="_blank">全国高血压日的来历是怎样的？</a><span class="date">07-09</span></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="column-2-260" style="width: 264px;">
        <div class="blue-items">
            <h4>招商信息<a href="#"><span>更多</span></a></h4>
            <div class="normal-box">
                <div class="two-columns-100">
                    <p>
                    <img width="72" height="72" src="sample.png"/>
                    <a href="#" target="_blank">什么是股市中的</a>
                    </p>
                    <p>
                    <img width="72" height="72" src="sample.png"/>
                    <a href="#" target="_blank">什么是的“蓝筹股</a>
                    </p>
                </div>
                <ul class="list-items">
                    <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                    <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                    <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                    <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                    <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                    <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
