<div class="column column-260">
    <div style="border: 1px solid rgb(164, 202, 239); width: 258px;" class="column column-260">
        <h4 class="section-title">最新加盟<a href="#"><span>更多</span></a></h4>
        <div class="normal-box">
            <ul class="list-items list-items-v3 list-items-v3-back">
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">中国航天日是哪一天？</a></li>
                <li><a href="#" target="_blank">什么是股市中的“蓝筹股”？</a></li>
                <li><a href="#" target="_blank">乘火车卧铺时为什么要换票？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
                <li><a href="#" target="_blank">全国高血压日的来历是怎样的？</a></li>
                <li><a href="#" target="_blank">“寒露”有哪些要注意的问题？</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="column column-630">
    <div style="" class="column-two column-two-offer">
        <div class="thumb-list-1" style="width: 100%; border-bottom: 1px solid #A4CAEF;">
            <h4 class="tab-view tab-view-v2"><span class="title">推荐企业</span><a href="#" class="more"><span>更多</span></a></h4>
            <ul class="company-logo-list">
                <?php for($i = 0; $i < 10 ; $i++) { ?>
                <li><a href="#"><img width="95" height="95"
                    src="sample.png"/><span>公司连接</span></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
</div>
