<div class="banner-4">
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /
            <br />公司连接</a>
    </div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /
            <br />公司连接</a>
    </div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /
            <br />公司连接</a>
    </div>
    <div class="item"><a href="#"><img src="sample.png" width="200" height="50" /
            <br />公司连接</a>
    </div>
</div>
