<div class="header">
    <div class="header-logo">
        <h1><a href="#">中国化工仪器网</a></h1>
        <ul class="header-logo-hot">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>

            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>
        <ul class="header-logo-nav">
            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">干燥设备</a></li>

            <li><a href="#">元素分析</a></li>
            <li><a href="#">色谱</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">传感器</a></li>
            <li><a href="#">更多设备</a></li>
        </ul>
    </div>
    <div class="header-banner">
        <div class="header-banner-img">
            <a href="#"><img
                src="http://pics.taobaocdn.com/bao/album/b2cpromotion/hjlz_080912_950x40.png"
                width="685" height="65" /></a>
        </div>
        <ul class="header-banner-links">
            <li><a href="#">江苏签发首份奥运手法食品</a></li>
            <li><a href="#">三种模式急速首都试解读首都科技</a></li>
            <li><a href="#">劲道放米了记录卡看就大方大</a></li>
        </ul>
    </div>
    <div class="header-search">
        <h3>供求商机</h3>
        <ul class="header-search-relative">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品库</a></li>
            <li><a href="#">资讯</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">商机</a></li>
            <li><a href="#">公司库</a></li>
            <li><a href="#">展会</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">人才</a></li>
        </ul>

        <form action="#" method="get" class="header-search-form">
            <input type="text" value="输入关键字" />
            <select>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
                <option value="">所有分类</option>
            </select>
            <button>搜索</button>
        </form>

        <div class="header-search-hot">
            <h4>热门求购：</h4>
            <ul>
                <li><a href="#">公司库</a></li>
                <li><a href="#">展会</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">人才</a></li>
            </ul>
        </div>
    </div>
</div>
