<div class="header">
    <div class="header-guid">
        <ul class="header-guid-links">
            <li><a href="#">网站推广</a></li>
            <li><a href="#">首页广告</a></li>
            <li><a href="#">关键字广告</a></li>
            <li><a href="#">个性化会员</a></li>
            <li><a href="#">榜上有名</a></li>
            <li class="hot"><a href="#">顶级会员</a></li>
        </ul>
        <ul class="header-guid-register">
            <li><a href="#">买家注册</a></li>
            <li><a href="#">卖家注册</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
</div>
