<HTML>
<HEAD>
<TITLE>index_bg</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>
<!-- ImageReady Slices (index_bg.png) -->
<TABLE WIDTH=731 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=2>
			<IMG SRC="images/index_bg_1.png" WIDTH=94 HEIGHT=219 ALT=""></TD>
		<TD ROWSPAN=3>
			<IMG SRC="images/index_bg_2.png" WIDTH=637 HEIGHT=695 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/index_bg_3.png" WIDTH=74 HEIGHT=39 ALT=""></TD>
		<TD ROWSPAN=2>
			<IMG SRC="images/index_bg_4.png" WIDTH=20 HEIGHT=476 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/index_bg_5.png" WIDTH=74 HEIGHT=437 ALT=""></TD>
	</TR>
</TABLE>
<!-- End ImageReady Slices -->
</BODY>
</HTML>